<template>
  <div class="about__box"
       :size="modifier">
    <div>
      <a :href="content.link.href"
         :title="content.link.title"
         target="_blank">
        <slot>
        </slot>
        {{ content.title }}
      </a>
      <a href="#"
         class="about__box-close"
         @click.prevent="close">
        <icon name="times" />
      </a>
    </div>
    <div v-html="content.info">
      <!-- {{ content.info }} -->
    </div>
  </div>
</template>

<script>
import 'vue-awesome/icons/times'
import Icon from 'vue-awesome/components/Icon'
export default {
  name: 'about',
  props: ['modifier', 'name'],
  components: { Icon },
  data () {
    return {
      d_name: this.name
    }
  },
  computed: {
    content () {
      switch (this.name) {
        case 'css3':
          return {
            link: {
              href: 'https://en.wikipedia.org/wiki/HTML',
              title: 'Link to HTML wiki'
            },
            info: 'An umbrella term for a collection of Cascading Style Sheet modules ' +
              'used to design modern web apps. The majority of the animations on ' +
              '<a href="https://gitlab.com/jaysaurus/jay-site"' +
              '   title="Link to this site on gitlab"' +
              '   target="_blank">this site</a> ' +
              'are rendered using CSS3.',
            title: 'CSS3'
          }
        case 'html5':
          return {
            link: {
              href: 'https://en.wikipedia.org/wiki/HTML',
              title: 'Link to HTML wiki'
            },
            info: 'The Hyper Text Markup Language is probably the most well known ' +
              'string in a web developers bow.  I use it with frameworks and tag libraries. ' +
              'Check out the HTML5 link above for more info!',
            title: 'HTML5'
          }
        case 'groovy':
          return {
            link: {
              href: 'http://www.groovy-lang.org/',
              title: 'Link to groovy-lang.org'
            },
            info: 'Groovy is an object orientated programming language that ' +
            'compiles to Java Byte Code.  As such it works inter-operably with ' +
            '<a href="https://www.java.com/"' +
            '   title="Link to java.com"' +
            '   target="_blank">the Java programming language</a>. ' +
            'I worked with Grails every day while at ' +
            '<a href="/work#qa"' +
            '   title="Link to work page">Qualsafe Awards</a>.',
            title: 'Groovy'
          }
        case 'grails':
          return {
            link: {
              href: 'https://grails.org/index.html',
              title: 'Link to grails.org'
            },
            info: 'Grails is an opinionated web framework that implements the ' +
            '<a href="https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller"' +
            '   title="Link to wiki definition of Model View Controller"' +
            '   target="_blank">Model View Controller</a> design pattern. ' +
            'it is written in the ' +
            '<a href="http://www.groovy-lang.org/"' +
            '   title="Link to groovy-lang.org"' +
            '   target="_blank">Groovy</a> ' +
            'programming language.  I worked with Grails every day while at ' +
            '<a href="/work#qa"' +
            '   title="Link to work page">Qualsafe Awards</a>.',
            title: 'Grails'
          }
        case 'gulp':
          return {
            link: {
              href: 'https://gulpjs.com/',
              title: 'Link to gulpjs.com'
            },
            info:
              'Gulp is an automation tool with similar capabilities to ' +
              '<a href="https://webpack.js.org/"' +
              '   title="Link to webpack.js.org"' +
              '   target="_blank">Webpack</a>. ' +
              'Webpack has superceded Gulp for my front-end needs, but I still ' +
              'use Gulp on back-end NodeJS since it requires far less configuration.',
            title: 'Gulp JS'
          }
        case 'java':
          return {
            link: {
              href: 'https://www.java.com/',
              title: 'Link to Java.com'
            },
            info:
              'Java is an object orientated programming language. ' +
              'I worked with Groovy & Grails every day at ' +
              '<a href="/work#qa"' +
              '   title="Link to work page">Qualsafe Awards</a>; ' +
              'I have a solid knowledge of Java by procy. I\'ve also coded a sticky ' +
              'notes program in JavaFX (see ' +
              '<a href="/miscellaneous#gnut"' +
              '   title="Link to work page">miscellaneous</a>)',
            title: 'Java'
          }
        case 'jest':
          return {
            link: {
              href: 'https://jestjs.io/',
              title: 'Link to jestjs.io'
            },
            info:
              'Jest is a JS unit/integration test framework.  it requires ' +
              'minimal amounts of configuration. I introduced and used Jest ' +
              'at ' +
              '<a href="/work#qa"' +
              '   title="Link to work page">Qualsafe Awards</a> ' +
              'and it is used to maintain full coverage on my web framework: ' +
              '<a href="http://cokoajs.com"' +
              '   title="Link to the Co.Koa framework documentation"' +
              '   target="_blank">Co.Koa</a>.',
            title: 'Jest'
          }
        case 'jquery':
          return {
            link: {
              href: 'https://jquery.com/',
              title: 'Link to jquery.com'
            },
            info: 'JQuery is a popular JS library, that makes it significantly ' +
             'easier to write elegant cross-compatible JavaScript. It\'s an older ' +
             'technology, but one I have used throughout my career and still use ' +
             'with clients\' existing technologies.',
            title: 'JQuery'
          }
        case 'js':
          return {
            link: {
              href: 'https://en.wikipedia.org/wiki/JavaScript',
              title: 'Link to JavaScript wiki'
            },
            info: 'JavaScript is easily the most well-known implementation of the ' +
              '<a href="https://en.wikipedia.org/wiki/Ecma_International"' +
              '   title="Link to ECMA International wiki"' +
              '   target="_blank">ECMA Script (ES)</a> ' +
              'convention. Should not be confused with ' +
              '<a href="https://www.java.com/"' +
              '   title="Link to java.com"' +
              '   target="_blank">Java</a> ' +
              'which is an entirely separate language!',
            title: 'JavaScript'
          }
        case 'koa':
          return {
            link: {
              href: 'https://koajs.com/',
              title: 'Link to koajs.com'
            },
            info: 'Koa JS is an unopinionated web framework for ' +
             '<a href="https://nodejs.org"' +
             '   title="Link to nodejs.org"' +
             '   target="_blank">NodeJS</a>. ' +
             'It\'s effectively a more stripped back and pragmatic alternative to ' +
             '<a href="https://expressjs.com"' +
             '   title="Link to expressjs.com"' +
             '   target="_blank">ExpressJS</a>. I used it as this basis for my ' +
             'own (more opinionated) web framework: ' +
             '<a href="http://cokoajs.com"' +
             '   title="Link to the Co.Koa framework documentation"' +
             '   target="_blank">Co.Koa</a>.',
            title: 'Koa JS'
          }
        case 'mongo':
          return {
            link: {
              href: 'https://www.mongodb.com/',
              title: 'Link to mongodb.com'
            },
            info: 'Mongo DB is a popular ' +
             '<a href="https://en.wikipedia.org/wiki/NoSQL"' +
             '   title="Link to wiki definition of NoSQL"' +
             '   target="_blank">NoSQL</a> ' +
             'DBMS. It stores data as BSON (Binary ' +
             '<a href="https://en.wikipedia.org/wiki/Json"' +
             '   title="Link to wiki definition of JSON"' +
             '   target="_blank">JSON</a>) and allows for complex "sub-document" ' +
             'data models. It is the favoured DB of my framework - ' +
             '<a href="http://cokoajs.com"' +
             '   title="Link to the Co.Koa framework documentation"' +
             '   target="_blank">Co.Koa</a> - which interfaces via ' +
             '<a href="http://mongoosejs.com/"' +
             '   title="Link to mongoosejs.com"' +
             '   target="_blank">Mongoose</a>.',
            title: 'Mongo DB'
          }
        case 'mysql':
          return {
            link: {
              href: 'https://www.mysql.com/',
              title: 'Link to mysql.com'
            },
            info: 'MySQL is an extremely popular SQL DBMS. I have worked with it ' +
             'in many different situations. I used it almost daily at ' +
             '<a href="/work#qa"' +
             '   title="Link to work page">Qualsafe Awards</a>.',
            title: 'MySQL'
          }
        case 'nightwatch':
          return {
            link: {
              href: 'http://nightwatchjs.org/',
              title: 'Link to nightwatchjs.org'
            },
            info: 'NightwatchJS is a JavaScript ' +
              '"<a href="https://www.tutorialspoint.com/software_testing_dictionary/end_to_end_testing.htm"' +
              '    title="Link to definition of end to end testing"' +
              '    target="_blank">end-to-end</a>" testing framework. ' +
              'It\'s greatest strengths are its speed and simplicity. I implemented ' +
              'and used Nightwatch at ' +
              '<a href="/work#qa"' +
              '   title="Link to work page">Qualsafe Awards</a>.',
            title: 'Nightwatch.js'
          }
        case 'node-js':
          return {
            link: {
              href: 'https://nodejs.org/',
              title: 'Link to nodejs.org'
            },
            info: 'NodeJS is a JavaScript runtime that I use to build web/network ' +
             'apps.  Node\'s strengths are found in its: asynchronicity, ' +
             'speed and quick turn around. Check out my NodeJS framework: ' +
             '<a href="http://cokoajs.com"' +
             '   title="Link to the Co.Koa framework documentation"' +
             '   target="_blank">Co.Koa</a>!',
            title: 'Node JS'
          }
        case 'npm':
          return {
            link: {
              href: 'https://npmjs.com/',
              title: 'Link to the NPM repository'
            },
            info: 'NPM is a flourishing repository that has greatly improved JS\' ' +
             'capacity for dependency management.  Recently the ' +
             '<a href="https://en.wikipedia.org/wiki/Command-line_interface"' +
             '   title="Link to wiki definition of CLI"' +
             '   target="_blank">CLI</a> ' +
             'has come to feature security and auditing tools; I have ' +
             '<a href="https://www.npmjs.com/~jaysaurus"' +
             '   title="Link to my NPM page"' +
             '   target="_blank">a bunch of releases on NPM</a>!',
            title: 'NPM'
          }
        case 'oracle':
          return {
            link: {
              href: 'https://www.oracle.com/database/index.html',
              title: 'Link to Oracle home page'
            },
            info: 'Oracle DB is a SQL DBMS famed for its capacity in high traffic environments. ' +
             'I studied Oracle DB at University and worked with it a significant amount while at ' +
             '<a href="/work#hbs"' +
             '   title="Link to work page">Harrogate Borough Council</a>.',
            title: 'Oracle DB'
          }
        case 'sass':
          return {
            link: {
              href: 'https://sass-lang.com/',
              title: 'Link to sass-lang.org'
            },
            info: 'SASS is a ' +
             '<a href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets"' +
             '   title="Link to CSS wiki"' +
             '   target="_blank">CSS</a> ' +
             'pre-processing language that helps to reduce ' +
             'repetition while writing style sheets for front-end web development. ' +
             'I use SASS all over this website, see my project on ' +
             '<a href="https://gitlab.com/jaysaurus/jay-site"' +
             '   title="Link to this site on gitlab"' +
             '   target="_blank">gitlab</a> for details.',
            title: 'SASS'
          }
        case 'travis-ci':
          return {
            link: {
              href: 'https://travis-ci.org/',
              title: 'Link to travis-ci.org'
            },
            info: 'Travis CI is a cloud-hosted ' +
            '<a href="https://en.wikipedia.org/wiki/Continuous_integration"' +
            '   title="Link to definition of Continuous Integration"' +
            '   target="_blank">Continuous Integration</a> Tool. ' +
             'I maintain ' +
             '<a href="http://cokoajs.com"' +
             '   title="Link to the Co.Koa framework documentation"' +
             '   target="_blank">my web framework</a> ' +
             'via Travis CI (' +
             '<a href="https://travis-ci.org/jaysaurus"' +
             '   title="Link to my page on Travis CI"' +
             '   target="_blank">here</a>) ' +
             'in the hope that, should my framework become well adopted, others will ' +
             'help me with it!',
            title: 'Travis CI'
          }
        case 'vuejs':
          return {
            link: {
              href: 'https://vuejs.org/',
              title: 'Link to vuejs.org'
            },
            info: 'Vue JS is a "reactive" framework that makes front-end development ' +
             'a lot simpler.  Declared properties of a Vue object are designed ' +
             'to "reactively" change their state when modified. ' +
             '<a href="https://gitlab.com/jaysaurus/jay-site"' +
             '   title="Link to this site on gitlab"' +
             '   target="_blank">This site</a> was designed with Vue. ',
            title: 'Vue JS'
          }
        case 'webpack':
          return {
            link: {
              href: 'https://webpack.js.org/',
              title: 'Link to webpack.js.org'
            },
            info: 'The Webpack toolkit makes a number of complex tasks (e.g. ' +
             '<a href="https://en.wikipedia.org/wiki/Polyfill_(programming)"' +
             '   title="Link to definition of polyfill on wikipedia"' +
             '   target="_blank">polyfills</a> and ' +
             '<a href="https://en.wikipedia.org/wiki/Shim_(computing)"' +
             '   title="Link to definition of shim on wikipedia"' +
             '   target="_blank">shims</a>) a lot easier. ' +
             'I use webpack\'s ' +
             '<a href="https://www.quora.com/Whats-hot-loading-in-Webpack-and-how-does-it-work"' +
             '   title="Link to Quora definition"' +
             '   target="_blank">hot-loading</a> server regularly. I use ' +
             '<a href="https://webpack.js.org/guides/code-splitting/"' +
             '   title="Link to webpack definition of code-splitting/on-demand imports"' +
             '   target="_blank">on-demand module imports</a> on ' +
             '<a href="https://gitlab.com/jaysaurus/jay-site"' +
             '   title="Link to this site on gitlab"' +
             '   target="_blank">this site</a>!',
            title: 'Webpack'
          }
      }
    }
  },
  methods: {
    close () {
      this.$emit('close')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.about__box[size="large"] {
  font-size: 100%;
}
.about__box[size="medium"] {
  font-size: 80% !important;
}
a {
  color: #42b983;
}
.about__box-close {
  color: #2c3e50;
  float: right;
}

div.about__box:not([size='large']) .about__box-close svg {
  width: 70%;
  margin-top: -10px;
}
</style>
