<template>
  <div>
    <span title="PHP programming language">
      <icon name="brands/php" />
    </span>
    <span title="MySQL Databases">
      <icon name="mysql" />
    </span>
    <span title="JS programming language">
      <icon name="brands/js-square" />
    </span>
  </div>
</template>

<script>
import 'vue-awesome/icons/brands/php'
import 'vue-awesome/icons/brands/js-square'
import Icon from 'vue-awesome/components/Icon'

export default {
  name: 'AngryOctopusIcons',
  components: {
    Icon
  }
}
</script>

<style>

</style>
