<template>
  <div>
    <span title="C# programming language">
      <icon name="brands/microsoft" />
    </span>
    <span title="Windows Communication Foundation">
      <icon name="brands/windows" />
    </span>
    <span title="HTML5">
      <icon name="brands/html5" />
    </span>
    <span title="CSS3">
      <icon name="brands/css3-alt" />
    </span>
    <span title="JavaScript">
      <icon name="brands/js-square" />
    </span>
    <span title="Java programming language">
      <icon name="jquery" />
    </span>
    <span title="Oracle Databases">
      <icon name="oracle" />
    </span>
  </div>
</template>

<script>
import 'vue-awesome/icons/brands/css3-alt'
import 'vue-awesome/icons/brands/html5'
import 'vue-awesome/icons/brands/js-square'
import 'vue-awesome/icons/brands/microsoft'
import 'vue-awesome/icons/brands/windows'
import Icon from 'vue-awesome/components/Icon'

export default {
  name: 'TenetIcons',
  components: {
    Icon
  }
}
</script>

<style>
</style>
