<template>
  <div :class="`icon__es-tech-box icon__es-tech-box--${modifier}`">
    <h3 :class="`icon__top-sub-header icon__top-sub-header--${modifier}`">
      skills:
    </h3>
    <div :class="`icon__icon-box icon__icon-box--${modifier}`">
      <span v-for="(name, i) in bodyIcons"
            :key="i"
            :title="`about ${friendlyName[i]}`">
        <icon class="icon__icon icon__icon--hover"
              :enlarge="i === showModal"
              :key="i"
              :name="name"
              :title="friendlyName[i]"
              @click.native="changeInfo(i)"
              @mouseover.native="current = name"
              @mouseout.native="current = undefined" />
      </span>
    </div>
    <div :class="`icon__icon-details icon__icon-details--${modifier}`"
          v-if="modifier !== 'small'">
      <transition name="icon__modal-fade">
        <div class="icon__modal" v-if="showModal > -1">
          <about :modifier="modifier"
                 :name="friendlyName[showModal]"
                 @close="showModal = -1">
            <icon :name="bodyIcons[showModal]" />
          </about>
        </div>
      </transition>
      <template>
        <span v-for="(name, i) in bodyIcons"
              :class="isActive(name, i)"
              :key="i">
          {{ modifier === 'large' ? '-&nbsp;' : '' }}
          {{ friendlyName[i] }}
        </span>
      </template>
    </div>
    <div v-else>
      <transition name="icon__modal-fade">
        <div class="icon__modal" v-if="showModal > -1">
          <about :modifier="modifier"
                 :name="friendlyName[showModal]"
                 @close="showModal = -1">
            <icon :name="bodyIcons[showModal]" />
          </about>
        </div>
      </transition>
    </div>
    <h3 class="icon__bottom-sub-header">
      ... and many more!
    </h3>
  </div>
</template>

<script>
import {mapState} from 'vuex'

import 'vue-awesome/icons/brands/css3-alt'
import 'vue-awesome/icons/brands/gulp'
import 'vue-awesome/icons/brands/html5'
import 'vue-awesome/icons/brands/js-square'
import 'vue-awesome/icons/brands/java'
import 'vue-awesome/icons/brands/sass'
import 'vue-awesome/icons/brands/node-js'
import 'vue-awesome/icons/brands/npm'
import 'vue-awesome/icons/brands/vuejs'
import Icon from 'vue-awesome/components/Icon'

import About from './About'

export default {
  name: 'IconBox',
  components: {
    About,
    Icon
  },
  data () {
    return {
      bodyIcons: [
        'brands/html5',
        'brands/css3-alt',
        'brands/js-square',
        'brands/node-js',
        'brands/vuejs',
        'koa',
        'mongo',
        'webpack',
        'brands/npm',
        'brands/sass',
        'jquery',
        'travis-ci',
        'jest',
        'nightwatch',
        'brands/gulp',
        'brands/java',
        'groovy',
        'grails',
        'mysql',
        'oracle'],
      current: undefined,
      showModal: -1
    }
  },
  computed: {
    ...mapState(['modifier']),
    friendlyName () {
      return this.bodyIcons.map(name =>
        name.replace(/brands\//, '')
          .replace(/-alt|-square/, ''))
    }
  },
  methods: {
    changeInfo (i) {
      if (i !== this.showModal) {
        if (this.showModal > -1) {
          this.showModal = -1
          setTimeout(function () {
            this.showModal = i
          }.bind(this), 500)
        } else this.showModal = i
      }
    },
    isActive (name) {
      return (this.current === name)
        ? 'icon__detail--hover'
        : 'icon__detail'
    }
  }
}
</script>

<style scoped>
.icon__es-tech-box {
  float: left;
  width: 85%;
  height: 100%;
}
.icon__es-tech-box--medium {
  width: 80%;
}
.icon__es-tech-box--small {
  margin-top: 7%;
  margin-left: 3%;
}
.icon__icon-box {
  float: left;
  padding: 1% 0 1% 0;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-row-gap: 2px;
  width: 50%;
  min-height: 250px;
  border-right: 1px solid #ccc;
}
.icon__modal {
  padding-top: 15px;
  position: absolute;
  background-color: white;
  padding-bottom: 45px;
  background: -webkit-linear-gradient(
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 100%
  );
  background-image: -moz-linear-gradient(
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.90) 90%,
      rgba(255, 255, 255, 0) 100%
  );
  background-image: -o-linear-gradient(
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.90) 90%,
      rgba(255, 255, 255, 0) 100%
  );
  background-image: linear-gradient(
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.90) 90%,
      rgba(255, 255, 255, 0) 100%
  );
  background-image: -ms-linear-gradient(
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.90) 90%,
      rgba(255, 255, 255, 0) 100%
  );
  max-height: 250% !important;
  overflow-y: auto;
}
.icon__icon-box--medium {
  padding-left: 5%;
  width: 62.5%;
}
.icon__icon-box--small {
  padding-left: 5%;
  width: 100%;
  border-right: none !important;
}
.icon__icon-details {
  padding-left: 2%;
  width: 45%;
  font-size: 100%;
  float: left;
}
.icon__icon-details--medium {
  width: 30%;
  font-size: 92.5%
}
.icon__icon-details span {
  float:left;
  display: block;
  padding-top: 7px;
  font-size: 80%;
  width: 50%;
}
.icon__icon {
  width: 50%;
  height: 100%;
  cursor: pointer;
}
.icon__detail--hover, .icon__icon--hover:hover {
  color: red;
  font-weight: bold;
}
.icon__icon[enlarge="true"] {
  font-weight: bold;
  color: green !important;
}
.icon__top-sub-header {
  margin-bottom: 0%;
}
.icon__top-sub-header--medium {
  padding-left: 2%;
}
.icon__bottom-sub-header {
  float:right;
  width: 100%;
  text-align: right;
  margin-bottom: -1%;
  z-index: 30 !important;
}

.icon__modal-fade-enter-active,
.icon__names-fade-enter-active,
.icon__names-fade-leave-active,
.icon__modal-fade-leave-active {
  transition: all .5s;
  transform-origin: top;
}
.icon__modal-fade-enter,
.icon__names-fade-enter,
.icon__names-fade-leave-to,
.icon__modal-fade-leave-to {
  // transform: scaleY(0);
  margin-top: 5%;
  opacity: 0;
}
</style>
