<template>
  <div>
    <span title="Groovy programming language">
      <icon name="groovy" />
    </span>
    <span title="Grails MVC">
      <icon name="grails" />
    </span>
    <span title="Java programming language">
      <icon name="brands/java" />
    </span>
    <span title="NodeJS">
      <icon name="brands/node-js" />
    </span>
    <span title="VueJS reactive framework">
      <icon name="brands/vuejs" />
    </span>
    <span title="Java programming language">
      <icon name="jquery" />
    </span>
    <span title="MySQL Databases">
      <icon name="mysql" />
    </span>
    <span title="Jest (Facebook) Unit Testing">
      <icon name="jest" />
    </span>
    <span title="Nightwatch end to end testing">
      <icon name="nightwatch" />
    </span>
  </div>
</template>

<script>
import 'vue-awesome/icons/brands/node-js'
import 'vue-awesome/icons/brands/npm'
import 'vue-awesome/icons/brands/java'
import 'vue-awesome/icons/brands/vuejs'
import Icon from 'vue-awesome/components/Icon'

export default {
  name: 'QualsafeIcons',
  components: {
    Icon
  }
}
</script>

<style>

</style>
