<template>
  <div class="email">
    You can contact me via:
    <ul>
      <li>
        <a href="https://twitter.com/TheJaysaurus"
           title="@TheJaysaurus on Twitter"
           target="_blank">
          &nbsp; <icon name="brands/twitter" /> @TheJaysaurus
        </a>
      </li>
      <br />
      <li>
        <a href="https://linkedin.com/in/jay-edwards-coding"
           target="_blank"
           title="Jay on LinkedIn">
          &nbsp; <icon name="brands/linkedin" /> jay-edwards-coding on LinkedIn
        </a>
      </li>
    </ul>
    <p>
      Or via the form below:
    </p>
    <form class="email__form pure-form"
          action="/send"
          method="post">
      <fieldset class="pure-group">
          <input class="pure-input-1"
                 type="email"
                 name="email"
                 placeholder="Email"
                 v-model="email"
                 required>
          <input class="pure-input-1"
                 type="text"
                 name="email"
                 placeholder="Name &amp; Subject"
                 v-model="subject"
                 required>
          <textarea name="text"
                    class="pure-input-1"
                    rows="3"
                    placeholder="Details"
                    v-model="text"
                    required></textarea>
      </fieldset>
      <span class="email__error" v-if="errors">
        <div v-for="(key, i) in Object.keys(errors)"
            :key="i">
          <span v-if="errors[key]">{{errors[key]}}</span>
        </div>
      </span>
      <span class="email__submit" v-show="subject && text && email">
        <vue-recaptcha sitekey="6Lda-2kUAAAAAHbGed4Y62VVy3vDAnmSNdHo7dt7"
                       @verify="onVerify"
                       @expired="onExpired">
          <button class="pure-button">
          <icon class="email__button-icon"
                name="envelope" /> Submit
          </button>
        </vue-recaptcha>
      </span>
    </form>
  </div>
</template>

<script>
import {mapState, mapMutations} from 'vuex'

import 'vue-awesome/icons/brands/twitter'
import 'vue-awesome/icons/envelope'
import Icon from 'vue-awesome/components/Icon'
import VueRecaptcha from 'vue-recaptcha'

export default {
  name: 'Email',
  components: {
    Icon,
    VueRecaptcha
  },
  props: ['autoSubject'],
  data () {
    return {
      email: '',
      errors: {},
      subject: this.autoSubject ? `Request for work on: ${this.autoSubject}` : '',
      text: ''
    }
  },
  watch: {
    email (newVal) {
      this.errors.invalidEmail = this.validEmail
        ? ''
        : 'Is your email valid?'
    }
  },
  computed: {
    ...mapState(['emailHeading']),
    validEmail () {
      return (this.email) ? /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(this.email) : true
    }
  },
  methods: {
    ...mapMutations({ showHideModal: 'SHOW_HIDE_MODAL' }),
    async onVerify (response) {
      await this.axios.post(
        '/send',
        { 'g-recaptcha-response': response,
          email: this.email,
          subject: this.subject,
          text: this.text })
      this.$router.push(`/sent`)
      this.showHideModal(false)
    },
    onExpired () {
      this.errors = 'Captcha expired.'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
a {
  text-decoration: none;
}
.email {
  margin-top: -5%;
  width: 100%;
  height: 100%;
}
.email ul li {
  margin-top: -1%;
}
.email ul li:last-child {
  margin-bottom: 0;
}
.email__error {
  color: red
}
.email__submit {
  position:absolute;
  width: 90%;
  margin-top: -20px
}
.email__form {
  width: 100%;
}
.email__form input {
  width: 100%;
}
.email__form textarea {
  width: 100%;
  resize: none;
}
.email__form button {
  float: right
}
.email__button-icon {
  vertical-align: sub;
}
.email__form {
  padding-bottom: 10px;
}
</style>
