<template>
    <transition name="event">
        <div class="event__mask"
             @click="closeEvent">
          <div class="event__wrapper">
            <div class="event__container">
              <div class="event__header">
                <h3>
                  <slot name="header">
                    Event
                  </slot>
                </h3>
                <button class="event__default-button"
                        @click="showHideEvent(false)">
                  <icon name="times" />
                </button>
              </div>
              <div class="event__body">
                <fieldset v-if="booking">
                  <legend><h2>{{ booking.title }}</h2></legend>
                  <div :class="`event__dates${isSafari ? '--safari' : ''}`">
                    <div>{{ hasFinish ? 'from' : 'date' }}: <b>{{ booking.start }}</b></div>
                    <div v-if="hasFinish">to: <b>{{ booking.end }}</b></div>
                  </div>
                  <div v-if="booking.details"><h3>details:</h3>
                    <div class="event__details">
                      {{ booking.details }}
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
    </transition>
</template>

<script>
import {mapMutations} from 'vuex'
import 'vue-awesome/icons/times'
import Icon from 'vue-awesome/components/Icon'

import {isSafari} from '../libs/browser'

export default {
  name: 'event',
  props: ['booking'],
  data () {
    return {
      isSafari
    }
  },
  computed: {
    hasFinish () {
      return this.booking.end && this.booking.start !== this.booking.end
    }
  },
  components: { Icon },
  methods: {
    ...mapMutations({ showHideEvent: 'SHOW_HIDE_EVENT' }),
    closeEvent (event) {
      if (event.target.className === 'event__wrapper') {
        this.showHideEvent(false)
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.event__mask {
  position: fixed;
  z-index: 99 !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.event__wrapper {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  z-index: 99;
}

.event__container {
  max-width: 50%;
  max-height: 50%;
  height: 50%;
  vertical-align: middle;
  margin: 0px auto;
  padding: 20px 30px 50px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
.event__header {
  display: flex;
  justify-content: space-between;
}

.event__header h3 {
  text-align: left;
  color: #42b983;
  font-weight: 350;
  width: 100%;
}

.event__body {
  margin-top: -30px;
  height: 85%;
  overflow-y: auto;
  padding: 10px;
}

.event__body legend h2 {
  padding-left: 5px;
  padding-right: 5px
}

.event__footer, .event__body {
  text-align: left;
}

.event__default-button {
  background-color: transparent;
  border: none;
}

/*
 * The following styles are auto-applied to elements with
 * transition="event" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the event transition by editing
 * these styles.
 */

.event-enter {
  opacity: 0;
}

.event-leave-active {
  opacity: 0;
}

.event-enter .event__container,
.event-leave-active .event__container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.event__details {
  margin-top: -10px;
  padding: 10px;
  min-height: 20px;
  background-color: #f1ffee;
}
.event__dates {
  margin-top: -25px;
}
</style>
