<template>
  <div :class="isSafari ? 'content--safari' : ''"
       :size="modifier">
    <div :class="`content__placeHolder content__placeHolder--${modifier}`"></div>
    <icon v-if="d_isLoading"
          class="content__icon--sync"
          name="sync"
          spin />
    <h1 v-if="title"
        :class="`content__header ${isNotChrome} ${showBorder}`"
        :size="modifier">
      <span :class="titleClass">{{ title }}</span>
    </h1>
    <div v-if="isChrome && modifier === 'small'"
    class="heading__padder">
    </div>
    <div :class="`content__data content__data--${modifier}`">
      <transition name="fade">
        <router-view class="fade-finished"
                     @on-route="setHeader($event)"/>
      </transition>
    </div>
    <web-footer />
  </div>
</template>

<script>
import {mapState} from 'vuex'
import {isChrome, isSafari} from '../libs/browser'

import 'vue-awesome/icons/long-arrow-alt-left'
import 'vue-awesome/icons/sync'
import Icon from 'vue-awesome/components/Icon'

import WebFooter from './WebFooter'

export default {
  name: 'LoremIpsum',
  props: ['isLoading'],
  components: { Icon, WebFooter },
  computed: {
    ...mapState(['modifier']),
    isNotChrome () {
      return (!this.isChrome)
        ? 'content__header--not-chrome'
        : ''
    },
    showBorder () {
      return !this.isTransitioning && !this.d_isLoading
        ? 'content__header--border'
        : ''
    },
    titleClass () {
      return `content__title${this.d_isLoading || this.isLoading ? '--hidden' : ''}`
    }
  },
  data () {
    return {
      d_isLoading: true,
      isChrome,
      isSafari,
      isTransitioning: false,
      title: 'Hello!'
    }
  },
  methods: {
    setHeader (name) {
      this.$emit('current', name)
      if (name !== 'Sent') {
        this.isTransitioning = true
        setTimeout(function () {
          this.title = name
          setTimeout(function () {
            this.isTransitioning = false
          }.bind(this), 1000)
        }.bind(this), 500)
      } else this.title = name
    }
  },
  created () {
    setTimeout(function () {
      this.d_isLoading = false
    }.bind(this), 1000)
  }
}
</script>

<style lang="scss" scoped>
.content--safari[size="small"] {
  margin-top: 10px;
}
.content__header {
  float:left;
}
.content__header--border {
  border-right: 1px solid #ccc;
}

.heading__padder {
  position: relative;
  float:left;
  width:10px;
  height: 80px;
  border-right: 0 transparent;
}

@each $modifier in "large", "medium", "small" {
  .content__header[size=#{$modifier}] {
    text-align: right;
    padding-right: 2.5%;
    margin-right: 2.5%;
    width: 30%;
    @if ($modifier != "small") {
      padding-bottom: 4%
    } @else {
      height: 1.75%;
      font-size: 120%;
    }
  }
}
.content__header--not-chrome[size="small"] {
  height: 25px;
}

.content__placeHolder {
  position:relative;
  display: block;
  float:left;
}
@each $modifier, $var1, $var2 in
(large, 1%, 32%),
(medium, 5%, 35%),
(small, 1% !important, 15%) {
  .content__placeHolder--#{$modifier} {
    width: $var1;
    @if ($modifier != small) { margin-top: $var2; }
    @else { padding-bottom: $var2 }
  }
}

.content__data {
  position: relative;
  padding-top: 2.5%;
  display: block;
  text-align: left !important;
  margin-left: -15%;
  padding-bottom: 1000px !important;
  z-index: 0;
}
.content__data--medium {
  position:relative;
  display: block;
  text-align: left;
}

.content__placeHolder--small {
  display: block;
  width: 60%;
  height: 5%;
  float:left;
}
.content__data--small {
  position:relative;
  display: block;
  text-align: left;
}

.content__title--hidden, .fade-enter-active, .fade-leave-active {
  opacity: 0;
  transition: opacity 0.5s;
}
.content__title, .fade-finished {
  transition: opacity 1s;
}

.content__icon--sync {
  float:left;
  padding: 1%;
  opacity: 0.5;
}
.content__icon--arrow {
  vertical-align: middle !important;
}
</style>
