<template>
    <transition name="modal">
        <div class="modal__mask"
             @click="closeModal">
          <div class="modal__wrapper">
            <div class="modal__container"
                 :size="modifier">
              <div class="modal__header">
                <slot name="header">
                  default header
                </slot>
                <button class="modal__default-button"
                        @click="showHideModal(false)">
                  <icon name="times" />
                </button>
              </div>

              <div class="modal__body"
                   :size="modifier">
                <div class="modal__body-wrapper"
                      :size="modifier">
                  <slot name="body">
                    default body
                  </slot>
                </div>
              </div>
            </div>
          </div>
        </div>
    </transition>
</template>

<script>
import {mapMutations} from 'vuex'
import 'vue-awesome/icons/times'
import Icon from 'vue-awesome/components/Icon'

export default {
  name: 'modal',
  props: ['modifier'],
  components: { Icon },
  methods: {
    ...mapMutations({ showHideModal: 'SHOW_HIDE_MODAL' }),
    closeModal (event) {
      if (event.target.className === 'modal__wrapper') {
        this.showHideModal(false)
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.modal__mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal__wrapper {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.modal__container {
  max-width: 80%;
  max-height: 80%;
  height: 80%;
  vertical-align: middle;
  margin: 0px auto;
  padding: 20px 5% 5% 5%;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
.modal__container[size="small"], .modal__container[size="medium"] {
  position:absolute;
  width: 100%;
  margin: 2% 5%;
  top: 0;
  height: 100%;
}
.modal__header {
  display: flex;
}

.modal__header h3 {
  text-align: left;
  color: #42b983;
  font-weight: 350;
  width: 100%;
}

.modal__body {
  height: 100%;
}
.modal__body-wrapper {
  position: relative;
  margin-left: -5%;
  height: 60%;
  padding: 5% 3% 5% 7%;
  overflow-y: auto;
}
.modal__body[size="small"] {
}
.modal__footer, .modal__body {
  text-align: left;
  margin: 0px 0;
}

.modal__default-button {
  background-color: transparent;
  border: none;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal__container,
.modal-leave-active .modal__container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
