<template>
  <div class="body__wrapper"
       :is-safari="isSafari ? 'true' : 'false'">
    <Modal v-if="modalIsVisible"
           :modifier="modifier">
      <h3 slot="header">Email</h3>
      <email slot="body"
             :auto-subject="subjectDate"/>
    </Modal>
    <event v-if="eventIsVisible"
           :booking="eventBooking"/>
    <div :class="`body__graph body__graph--${modifier}`">
        <div class="body__menu__wrapper" v-show="showTitle">
          <transition-group
            class="body__menu"
            name="menu"
            tag="div">
            <a :class="`body__menu-link${active[i]}`"
               :href="link[image].uri"
               v-for="(image, i) in images"
               :key="image"
               @click.prevent="select(image, i)">
              <img :class="`body__menu-image${active[i]}`"
                   :src="getImgSrc(image)"
                   :alt="`${image} image`">
              <div v-show="!active[i] && !isLoading"
                    :class="`body__menu-title--${modifier} body__menu-title${active[i]}`">
                {{ link[image].title }}
              </div>
            </a>
          </transition-group>
        </div>
        <lorem-ipsum :class="`body__content body__content--${modifier}`"
                     :is-loading="isLoading"
                     @current="setCurrent($event)" />
    </div>
  </div>
</template>

<script>
import {mapState, mapMutations} from 'vuex'
import {isChrome, isSafari} from '../libs/browser'
import scrollToTop from '../scrollToTop'

import Email from './Email'
import LoremIpsum from './LoremIpsum.vue'
import Modal from './Modal'
import Event from './Event'

export default {
  name: 'Index',
  components: {
    Email,
    Event,
    LoremIpsum,
    Modal
  },
  data () {
    return {
      active: [
        '--active',
        '',
        '',
        '',
        '',
        ''
      ],
      current: '',
      images: [
        'howdy',
        'thinking',
        'planning',
        'park',
        'chopSticks',
        'map'
      ],
      isAnimating: false,
      isSafari,
      link: {
        chopSticks: { uri: 'miscellaneous', title: 'Misc' },
        howdy: { uri: '', title: 'Hello!' },
        park: { uri: 'smarts', title: 'Smarts' },
        planning: { uri: 'work', title: 'Work' },
        thinking: { uri: 'skills', title: 'Skills' },
        map: { uri: 'where', title: 'Where' }
      },
      title: ''
    }
  },
  computed: {
    ...mapState([
      'eventBooking',
      'eventIsVisible',
      'subjectDate',
      'isLoading',
      'modalIsVisible',
      'modifier']),
    showTitle () {
      return this.current !== 'Sent' &&
      this.current !== '404'
    }
  },
  methods: {
    ...mapMutations({setIsLoading: 'SET_IS_LOADING'}),
    autoSelectIfNotIndex () {
      const uri = window.location.href.split('/').slice(-1)[0].replace('#', '')
      if (uri) {
        for (let key of Object.keys(this.link)) {
          if (this.link[key].uri === uri) {
            this.select(key, this.images.indexOf(key))
          }
        }
      }
    },
    canBeSelected (image, i) {
      return !this.isLoading &&
        this.link.hasOwnProperty(image) &&
        !this.active[i]
    },
    getImgSrc (image) {
      return require(`@/assets/images/${image}.svg.png`)
    },
    select (image, i) {
      if (this.canBeSelected(image, i)) {
        const { uri } = this.link[image]
        this.$router.push(`/${uri}`)
        this.setIsLoading(true)
        this.active.splice(0, 1, '')
        this.active.splice(i, 1, '--active')
        setTimeout(function () {
          this.active.splice(i, 1, '')
          setTimeout(function () {
            this.active.splice(0, 1, '--active')
            const img = this.images.splice(i, 1)[0]
            this.images.unshift(img)
            setTimeout(function () {
              scrollToTop(1000)
              this.setIsLoading(false)
            }.bind(this), 300)
          }.bind(this), 5)
        }.bind(this), isChrome ? 550 : 750)
      }
    },
    setCurrent (c) {
      this.current = c
    }
  },
  created () {
    this.autoSelectIfNotIndex()
  }
}
</script>

<style lang="scss">
@import '../assets/styles/margin.scss';
@import '../assets/styles/body__wrapper.scss';
.menu-move {
  transition: transform 1s ease-out;
}
.body__wrapper {
  height: 100%;
}
a {
  color: #0db669;
}
</style>
