<template>
  <div class="footer">
    <span>
      All images sourced at
      <a href="http://jayedwardscode.com/static/img/">
        http://jayedwardscode.com/static/img/
      </a> are &#x24B8; 2016-2018 Jay Edwards.  All rights reserved.<br />
      This site does not use Cookies
    </span>
    <span>
      <a href="#"
         @click.prevent="backToTop">
        <icon name="angle-up" /> top
      </a>
    </span>
  </div>
</template>

<script>
import {mapState} from 'vuex'

import scrollToTop from '../scrollToTop'

import 'vue-awesome/icons/angle-up'
import Icon from 'vue-awesome/components/Icon'

export default {
  name: 'WebFooter',
  components: {
    Icon
  },
  computed: {
    ...mapState(['modifier'])
  },
  methods: {
    backToTop () {
      scrollToTop(255)
    }
  }
}
</script>

<style scoped>
.footer {
  display: flex;
  position: absolute;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  width: 98%;
  padding: 0.5% 0 0.5% 0;
  margin-left: 1%;
  font-size: 80%;
  text-align: left;
  bottom: -1%;
  left: 0;
}
.footer span a svg {
  vertical-align: top;
}
.footer span:nth-child(2) {
  padding-left: 5px;
  text-align: center;
}
</style>
