<template>
  <div :class="`header__box header__box--${isIE ? 'ie' : 'not-ie'}`"
       :size="modifier">
    <a href="https://twitter.com/TheJaysaurus"
       target="_blank"
       title="@TheJaysaurus on Twitter">
      <icon class="header__box_icon header__box_icon--hover"
            name="brands/twitter" />
    </a>
    <a href="https://github.com/jaysaurus"
       target="_blank"
       title="Jaysaurus github dashboard">
      <icon class="header__box_icon header__box_icon--hover"
            name="brands/github" />
    </a>
    <a href="https://gitlab.com/jaysaurus"
       target="_blank"
       title="Jaysaurus gitlab dashboard">
      <icon class="header__box_icon header__box_icon--hover"
            name="brands/gitlab" />
    </a>
    <a href="www.linkedin.com/in/jay-edwards-coding"
       target="_blank"
       title="Jay on LinkedIn">
      <icon class="header__box_icon header__box_icon--hover"
            title="Jaysaurus on linkedin"
            name="brands/linkedin" />
    </a>
    <a href="javascript:void(0)"
       title="Email Address"
       @click="showHideModal(true)">
      <icon class="header__box_icon header__box_icon--hover"
            name="envelope" />
    </a>
    <a href="http://cokoajs.com"
       target="_blank"
       title="Co.Koa MVC by Jay Edwards">
      <icon class="header__box_icon header__box_icon--hover"
            name="cokoa" />
    </a>
  </div>
</template>

<script>
import {mapState, mapMutations} from 'vuex'
import {isIE} from '../libs/browser'

import 'vue-awesome/icons/brands/github'
import 'vue-awesome/icons/brands/gitlab'
import 'vue-awesome/icons/brands/linkedin'
import 'vue-awesome/icons/brands/twitter'
import 'vue-awesome/icons/envelope'
import Icon from 'vue-awesome/components/Icon'

export default {
  name: 'web-header-box',
  components: {
    Icon
  },
  computed: {
    ...mapState(['modifier'])
  },
  data () {
    return {
      isIE
    }
  },
  methods: {
    ...mapMutations({ showHideModal: 'SHOW_HIDE_MODAL' })
  }
}
</script>

<style lang="scss" scoped>
.header__box[size="small"] {
  display: -ms-flexbox;
  display: flex;
  justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  background-color: #a2ecc0;
  padding-bottom: 2%;
  margin-top: -2%;
  margin-bottom: 2%;
  z-index: 10;
}
.header__box--ie {
  padding-left: 7%;
}
.header__box--ie[size="small"] a {
  padding-left: 5%;
  padding-right: 2.5%;
}

@each $modifier, $height, $width, $marginTop in
("large", 94%, 110%, 66%),
("medium", 70%, 99%, 55%) {
  .header__box[size=#{$modifier}] {
    grid-area: headerbox;
    height: $height;
    width: $width;
    @if ($modifier == "medium") {
      justify-content: flex-start;
      align-items: flex-start;
    }
    margin-top: $marginTop;
    z-index: 10;
  }
}

.header__box[size="small"] a svg {
  height: 25px !important;
}

.header__box_icon {
  width: auto;
  height: 40%;
  max-width: 100%;
  max-height: 100%;
  color: #51ba90;
}
.header__box_icon--hover:hover {
  color: red;
}
</style>
