<template>
  <div class="header"
       :size="modifier">
    <div :class="`header__pad--${modifier}`">
    </div>
    <div class="header__wrapper"
         @size="modifier">
      <img src="../assets/images/webBack.svg"
           :class="`header__back--${modifier}`" />
      <div :class="`header__grid--${modifier}`">
        <div :class="`header__letters--${modifier}${safariModifier}`">
          <a href="/"
             title="Jay header"
             :class="`header__fname header__fname--${modifier}`">
            <img class="header__fname-j"
                 :size="modifier"
                 src="../assets/images/letterJ.svg" />
            <img class="header__fname-a"
                 :size="modifier"
                 src="../assets/images/letterA1.svg" />
            <img :class="`header__fname-y${isSafari ? ' header__fname-y--safari' : ''}`"
                 :size="modifier"
                 src="../assets/images/letterY.svg" />
          </a>
          <a href="/"
             title="Edwards header"
             :class="`header__lname--${modifier}`">
            <img class="header__lname-e"
                 :size="modifier"
                 src="../assets/images/letterE.svg" />
            <img class="header__lname-d1"
                 :size="modifier"
                 src="../assets/images/letterD1.svg" />
            <img class="header__lname-w"
                 :size="modifier"
                 src="../assets/images/letterW.svg" />
            <img class="header__lname-a"
                 :size="modifier"
                 src="../assets/images/letterA2.svg" />
            <img class="header__lname-r"
                 :size="modifier"
                 src="../assets/images/letterR.svg" />
            <img class="header__lname-d2"
                 :size="modifier"
                 src="../assets/images/letterD2.svg" />
            <img class="header__lname-s"
                 :size="modifier"
                 src="../assets/images/letterS.svg" />
          </a>
        </div>
        <web-header-box v-if="modifier !== 'small'" />
      </div>
    </div>
    <web-header-box v-if="modifier === 'small'" />
  </div>
</template>

<script>
import {mapState} from 'vuex'

import {isSafari} from '../libs/browser'
import WebHeaderBox from './WebHeaderBox'

export default {
  name: 'web-header',
  components: {
    WebHeaderBox
  },
  data () {
    return {
      isSafari
    }
  },
  computed: {
    ...mapState(['modifier']),
    safariModifier () {
      return this.isSafari ? ` header__letters--${this.modifier}--safari` : ''
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '../assets/styles/headerBack.scss';
@import '../assets/styles/header--large.scss';
@import '../assets/styles/header--medium.scss';
@import '../assets/styles/header--small.scss';
@import '../assets/styles/headerLettersAnimation.scss';
.header__fname-y--safari {
  height: 140%
}
</style>
