<template>
  <div class="full-calendar-header">
    <div class="header-left">
    </div>
    <div class="header-center">
      <a href="#"
         class="month-clicker prev-month"
         @click.prevent.stop="goPrev">
        <icon name="angle-left" />
      </a>
      <span class="title">{{title}}</span>
      <a href="#"
         class="month-clicker next-month"
         @click.prevent.stop="goNext">
        <icon name="angle-right" />
     </a>
    </div>
    <div class="header-right">
    </div>
  </div>
</template>

<script>
  import 'vue-awesome/icons/angle-left'
  import 'vue-awesome/icons/angle-right'
  import Icon from 'vue-awesome/components/Icon'

  import dateFunc from './dateFunc'

  export default {
    created () {
      this.dispatchEvent()
    },
    components: { Icon },
    props : {
      currentDate : {},
      titleFormat : {},
      firstDay    : {},
      monthNames  : {}
    },
    data () {
      return {
        title      : '',
        leftArrow  : '<',
        rightArrow : '>',
        headDate : new Date()
      }
    },
    watch : {
      currentDate (val) {
        if (!val) return
        this.headDate = val
      }
    },
    methods : {
      goPrev () {
        this.headDate = this.changeMonth(this.headDate, -1)
        this.dispatchEvent()
      },
      goNext () {
        this.headDate = this.changeMonth(this.headDate, 1)
        this.dispatchEvent()
      },
      changeMonth (date, num) {
        let dt = new Date(date)
        return new Date(dt.setMonth(dt.getMonth() + num))
      },
      dispatchEvent() {
        this.title = dateFunc.format(this.headDate, this.titleFormat, this.monthNames)

        let startDate = dateFunc.getStartDate(this.headDate)
        let curWeekDay = startDate.getDay()

        // 1st day of this monthView
        let diff = parseInt(this.firstDay) - curWeekDay
        if (diff) diff -= 7
        startDate.setDate(startDate.getDate() + diff)

        // the month view is 6*7
        let endDate = dateFunc.changeDay(startDate, 41)

        // 1st day of current month
        let currentDate = dateFunc.getStartDate(this.headDate)

        this.$emit('change',
          dateFunc.format(startDate, 'yyyy-MM-dd'),
          dateFunc.format(endDate, 'yyyy-MM-dd'),
          dateFunc.format(currentDate,'yyyy-MM-dd'),
          this.headDate
        )
      }
    }
  }
</script>

<style lang="scss">
.full-calendar-header{
  display: flex;
  align-items: center;
  .header-left,.header-right{
    flex:1;
  }
  .header-center{
    flex:3;
    text-align:center;
    .title{
      margin: 0 10px;
    }
    .prev-month,.next-month{
      cursor: pointer;
    }
  }
}
.month-clicker {
  padding: 0 10px 0 10px;
}
</style>
