<template>
  <div class="body__data body__sent"
       :size="modifier">
    <span :class="`body__heading--${modifier}`">
      <template v-if="modifier !== 'small'">
        <b>I can't find that page!</b><br />
        Click <a href="/">here</a> to go home!<br />
        Sorry :)<br />
      </template>
      <span name="small" v-else>
        <b>Page not found!</b><br />
        click to go <a href="/">home</a>
      </span>
    </span>
    <img class="four-o-four"
         src="@/assets/images/404.svg"
         alt="404" />
  </div>
</template>

<script>
import {mapState} from 'vuex'
import scrollToTop from '../../scrollToTop'

export default {
  name: '404',
  computed: {
    ...mapState(['modifier'])
  },
  created () {
    this.$emit('on-route', '404')
    scrollToTop(1000)
  }
}
</script>

<style scoped>
  .four-o-four {
    position: absolute;
    top: 1%;
    left: -10%;
    width: 30%;
  }
</style>
