<template>
  <div :class="`body__wrapper body__wrapper--${modifier}`">
    <span :class="`body__heading--${modifier}`">
      <template v-if="modifier === 'large'">
        This is the portfolio for <b>Jay Edwards</b><br />
        <b>5+ years</b> active industry experience<br />
        Full-stack <b>JS/ES^2017</b> dev
      </template>
      <template v-else-if="modifier === 'medium'">
        The portfolio for <b>Jay Edwards</b><br />
        <b>5+ years</b> industry experience<br />
        Full-stack <b>JS/ES^2017</b>
      </template>
      <span :size="modifier" v-else>
        <b>Jay Edwards</b> <br />
        Portfolio
      </span>
    </span>
    <hr :size="modifier" />
    <icon-box />
    <div class="body__post-icon-box">
      <p>
        <icon class="body__post-icon-box-arrow"
              name="arrow-left" />
        <template v-if="modifier !== 'small'">
          Click on the bubbles to the left for more information!
        </template>
        <template v-else>
          tap the bubbles!
        </template>
      </p>
    </div>
    <hr :size="modifier" />
    <div class="body__section body__section-front--final">
      <div class="body__section-header">
        <h3>Site Contents</h3>
      </div>
      <div class="body__section-front"
           v-for="(key, i) in Object.keys(siteContents)"
           :key="i">
        <a :href="`/${siteContents[key].uri}`"
           :title="`link to ${key} page`">
          <img class="body__bubble"
               :src="getImgSrc(siteContents[key].image)" />
        </a>
        <span>
          <b>{{key}}</b>
          <div>
            {{siteContents[key].info}}
          </div>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex'

import 'vue-awesome/icons/arrow-left'
import Icon from 'vue-awesome/components/Icon'

import IconBox from './subComponents/IconBox'

export default {
  name: 'index',
  components: {
    Icon,
    IconBox
  },
  data () {
    return {
      siteContents: {
        Skills: {
          uri: 'skills',
          image: 'thinking',
          info: 'A breakdown of my skills and where I\'ve used them'
        },
        Work: {
          uri: 'work',
          image: 'planning',
          info: 'My career background'
        },
        Smarts: {
          uri: 'smarts',
          image: 'park',
          info: 'My education profile'
        },
        Misc: {
          uri: 'miscellaneous',
          image: 'chopSticks',
          info: 'Various projects in my portfolio (outside of the work world)'
        },
        Where: {
          uri: 'where',
          image: 'map',
          info: 'Availability calendar and where I\'m currently at'
        }
      }
    }
  },
  computed: {
    ...mapState(['modifier'])
  },
  methods: {
    getImgSrc (image) {
      return require(`@/assets/images/${image}.svg.png`)
    }
  },
  created () {
    this.$emit('on-route', 'Hello!')
  }
}
</script>

<style lang="scss">
@import '../../assets/styles/body.scss';

.body__post-icon-box {
  float: left;
  width: 100%;
}
.body__post-icon-box-arrow {
  vertical-align: middle;
}
.body__heading--medium {
  font-size: 77.5%;
}
.body__heading--small span[size="small"] {
  position: relative;
  top: 5px;
}
.body__section-front {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.body__section-front a {
  width: 10%;
  height: 10%;
}
.body__section-front a img {
  width: 100%;
  height: 100%;
}
.body__section-front span {
  padding-left: 10px
}
.body__section-front--final {
  margin-bottom: 50px;
}
</style>
