<template>
  <div :class="`body__wrapper body__wrapper--${modifier}`">
    <span :class="`body__heading--${modifier}`">
      <template v-if="modifier !== 'small'">
        Being a code junky,<br />
        home projects<br />
        and more!<br />
      </template>
      <span name="small" v-else>
        Being a code junky,<br />
        home projects
      </span>
    </span>
    <hr :size="modifier" />
    <div class="body__section body__section--first">
      <div class="body__section-header">
        <h3>Home Projects</h3>
      </div>
      <div class="body__section-body"
           section="first">
        <h3>This Site</h3>
        <div class="body__meta-img">
          <img alt="reading image bubble"
               src="../../assets/images/reading.svg.png" />
          <img alt="degree image bubble"
               src="../../assets/images/degree.svg.png" />
          <img alt="singing image bubble"
               src="../../assets/images/singing.svg.png" />
        </div>
        Written in VueJS with a little backend courtesy of KoaJS (via Co.Koa).<br />
        please see the <a href="/skills">skills</a> page for more information.<br />
        <h4>
          To look at the source for this site, please visit
          <a href="https://gitlab.com/jaysaurus/jay-site"
             title="Jay's website gitlab page"
             target="_blank">
            the Gitlab page
          </a>
        </h4>
      </div>
    </div>
    <hr :size="modifier" />
    <div class="body__section">
      <div class="body__section-header">
        <h3>Co.Koa</h3>
      </div>
      <div class="body__section-body">
        <img class="body__cokoa-img"
             src="https://raw.githubusercontent.com/jaysaurus/Co.Koa/master/siteStrapCoKoa.png?sanitize=true"
             alt="The Co.Koa Banner" />
        As mentioned in the <a href="/skills">Skills</a> page; I have written a
        web framework based on
        <a href="https://koajs.com/"
           title="Link to Koa documentation"
           target="_blank">
           Koa</a>
        Here is a list of links for that project:
        <table>
          <tr>
            <td class="body__section-td-link">
              <a href="http://cokoajs.com"
                 title="Link to the Co.Koa framework website"
                 target="_blank">
                 <icon name="cokoa" />
                 Co.Koa</a>
            </td>
            <td>
              <ul>
                <li class="td__bullet">
                  The official Co.Koa document website
                </li>
              </ul>
            </td>
          </tr>
          <br />
          <tr>
            <td class="body__section-td-link">
              <a href="https://github.com/jaysaurus/co-koa-core"
                 title="Link to github co-koa-core"
                 target="_blank">
                <icon name="brands/github" />
                co-koa-core</a>
            </td>
            <td>
              <ul>
                <li class="td__bullet">
                  Link to the core of the framework on github
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="body__section-td-link">
              <a href="https://www.npmjs.com/package/co-koa-core"
                 title="Link to NPM co-koa-core"
                 target="_blank">
                <icon name="brands/npm" />
                co-koa-core</a>
            </td>
            <td>
              <ul>
                <li class="td__bullet">
                  Link to the core of the framework in the NPM repository
                </li>
              </ul>
            </td>
          </tr>
          <br />
          <tr>
            <td class="body__section-td-link">
              <a href="https://github.com/jaysaurus/co-koa-cli"
                 title="Link to github co-koa-cli"
                 target="_blank">
                <icon name="brands/github" />
                co-koa-cli</a>
            </td>
            <td>
              <ul>
                <li class="td__bullet">
                  Link to Co.Koa's CLI on github
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="body__section-td-link">
              <a href="https://www.npmjs.com/package/co-koa-cli"
                 title="Link to NPM co-koa-cli"
                 target="_blank">
                <icon name="brands/npm" />
                co-koa-cli</a>
            </td>
            <td>
              <ul>
                <li class="td__bullet">
                  Link to Co.Koa's CLI in the NPM repository
                </li>
              </ul>
            </td>
          </tr>
          <br />
          <tr>
            <td class="body__section-td-link">
              <a href="https://github.com/jaysaurus/co-koa-mongoose-plugin"
                 title="Link to github co-koa-mongoose-plugin"
                 target="_blank">
                <icon name="brands/github" />
                co-koa-mongoose-plugin</a>
            </td>
            <td>
              <ul>
                <li class="td__bullet">
                  Link to Co.Koa's Mongoose plugin on github
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="body__section-td-link">
              <a href="https://www.npmjs.com/package/co-koa-mongoose-plugin"
                 title="Link to NPM co-koa-core"
                 target="_blank">
                <icon name="brands/npm" />
                co-koa-mongoose-plugin</a>
            </td>
            <td>
              <ul>
                <li class="td__bullet">
                  Link to Co.Koa's Mongoose plugin in the NPM repository
                </li>
              </ul>
            </td>
          </tr>
          <br />
          <tr>
            <td class="body__section-td-link">
              <a href="https://github.com/jaysaurus/co-koa-session-plugin"
                 title="Link to github co-koa-cli"
                 target="_blank">
                <icon name="brands/github" />
                co-koa-session-plugin</a>
            </td>
            <td>
              <ul>
                <li class="td__bullet">
                  Link to Co.Koa's session plugin on github
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="body__section-td-link">
              <a href="https://www.npmjs.com/package/co-koa-session-plugin"
                 title="Link to NPM co-koa-cli"
                 target="_blank">
                <icon name="brands/npm" />
                co-koa-cli</a>
            </td>
            <td>
              <ul>
                <li class="td__bullet">
                  Link to Co.Koa's session plugin in the NPM repository
                </li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
      <hr :size="modifier" />
      <div class="body__section">
        <div class="body__section-header">
          <h3>Other NPM</h3>
        </div>
        As well as the Co.Koa modules, I have written a few other NPM modules.
        <table>
          <tr>
            <td class="body__section-td-link">
              <a href="https://www.npmjs.com/package/echo-handler"
                 title="Link to NPM co-koa-cli"
                 target="_blank">
                <icon name="brands/npm" />
                echo-handler</a>
            </td>
            <td>
              <ul>
                <li class="td__bullet">
                  A NodeJS i18n-friendly way of managing messages.
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="body__section-td-link">
              <a href="https://www.npmjs.com/package/mongoose-type-number-enums"
                 title="Link to NPM co-koa-cli"
                 target="_blank">
                <icon name="brands/npm" />
                mongoose-type-number-enums</a>
            </td>
            <td>
              <ul>
                <li class="td__bullet">
                  Adds support for mongoose to use enums that persist as type Number
                </li>
              </ul>
            </td>
          </tr>
        </table>
        <p>
          I contributed to the following project:
        </p>
        <table>
          <tr>
            <td class="body__section-td-link">
              <a href="https://www.npmjs.com/package/koa-hbs-renderer"
                 title="Link to NPM koa-hbs-renderer"
                 target="_blank">
                <icon name="brands/npm" />
                koa-hbs-renderer</a>
            </td>
            <td>
              <ul>
                <li class="td__bullet">
                  Support for handlebars' .hbs files in koa
                </li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
      <hr :size="modifier" />
      <div class="body__section body__section-body--final">
        <div class="body__section-header">
          <h3 id="gnut">Gnut</h3>
        </div>
        <div class="body__section-body">
          <img class="body__section-gnut-image"
               src="../../assets/images/GnutScreenshot1.png"
               alt="Gnut Screenshot"/>
          <p>
            <a href="https://gitlab.com/jaysaurus/Gnut"
               title="link to Gnut"
               target="_blank">
              Gnut</a>
            is a GUI sticky notes program I wrote in Java using JavaFX.  It's a
            fairly simple program that grew out of my frustration with Linux GUI
            alternative's to Windows' sticky notes program.
          </p>
          <p>
            it let's you set a title:
          </p>
          <img class="body__section-gnut-image"
               src="../../assets/images/GnutScreenshot2.png"
               alt="Gnut Screenshot"/>
          <p>
            set a color:
          </p>
          <img class="body__section-gnut-image"
               src="../../assets/images/GnutScreenshot3.png"
               alt="Gnut Screenshot"/>
          <p>
            and, most recently, copy/paste with right click <br />
            (before you could only use ^c and ^v. A colleague requested I add
            this feature so I obliged!)
          </p>
          <p>
            It's available to download on gitlab:
            <a href="https://gitlab.com/jaysaurus/Gnut"
               title="link to Gnut"
               target="_blank">
              here</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex'

import 'vue-awesome/icons/brands/npm'
import 'vue-awesome/icons/brands/github'
import Icon from 'vue-awesome/components/Icon'

export default {
  name: 'misc',
  components: {
    Icon
  },
  computed: {
    ...mapState(['modifier'])
  },
  data () {
    return {
    }
  },
  created () {
    this.$emit('on-route', 'Misc')
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/styles/body.scss';
@import '../../assets/styles/body__sections.scss';
.body__meta-img {
  width: 100%;
  text-align: center;
}
.body__meta-img img {
  width: 25%;
}
.body__cokoa-img {
  width: 100%;
}
.body__section-body table tr td {
  padding-top: 5px;
}
.body__section-body h4 {
  font-weight: 350;
  float: right;
}
.body__section-td-link {
  padding-right: 5px;
}
ul {
  margin: 0;
}
ul {
  list-style-type: none;
}
ul > li {
  text-indent: -5px;
}
ul > li:before {
  content: "-";
  text-indent: -5px;
}
.td__bullet::before {
  content: '-';
}
.body__section-gnut-image {
  width: 70%;
}
</style>
