<template>
  <div class="body__data body__sent"
       :size="modifier">
    <span :class="`body__heading--${modifier}`">
      <template v-if="modifier === 'large'">
        <b>Your email has been sent!</b><br />
        I'll be in touch as soon as possible<br />
        click <a href="/">here</a> to return to the homepage!
      </template>
      <template v-else-if="modifier === 'medium'">
        <b>Your email has been sent!</b><br />
        I'll be in touch ASAP<br />
        click to go <a href="/">home</a>
      </template>
      <span name="small" v-else>
        <b>Email sent!</b><br />
        click to go <a href="/">home</a>
      </span>
    </span>
    <img class="sent"
         src="@/assets/images/posting.svg"
         alt="Jay posting letter" />
  </div>
</template>

<script>
import {mapState} from 'vuex'
import scrollToTop from '../../scrollToTop'

export default {
  name: 'sent',
  computed: {
    ...mapState(['modifier'])
  },
  created () {
    this.$emit('on-route', 'Sent')
    scrollToTop(1000)
  }
}
</script>

<style scoped>
  .sent {
    position: absolute;
    top: 1%;
    left: -10%;
    width: 30%;
  }
</style>
