<template>
  <div :class="`body__wrapper body__wrapper--${modifier}`">
    <span :class="`body__heading--${modifier}`">
      <template v-if="modifier === 'large'">
        Experience right across the stack<br />
        My passion is JS &amp; ES^2017<br />
        This site is no exception!<br />
      </template>
      <template v-else-if="modifier === 'medium'">
        Full stack experience<br />
        JS &amp; ES^2017<br />
        and more<br />
      </template>
      <span name="small" v-else>
        From NodeJS and VueJS<br />
        To everything else
      </span>
    </span>
    <hr :size="modifier" />
    <div :size="modifier" class="body__section body__section--first">
      <h3><icon name="brands/node-js" /> NodeJS</h3>
      I have written a number of NodeJS applications; most notably, a web
      framework called
      <a href="http://cokoajs.com"
         title="Link to the Co.Koa framework website"
         target="_blank">Co.Koa</a>.
      I originally started writing this for a personal project, but with a view
      to making it open source; simply put, I wanted something less opinionated
      than
      <a href="http://sailsjs.com"
         title="Link to the Sails MVC website"
         target="_blank">Sails MVC</a>
      but a bit more opinionated than
      <a href="https://expressjs.com/"
         title="Link to ExpressJS Framework website"
         target="_blank">
        ExpressJS</a>.
      I also wanted to harness
      <a href="https://koajs.com/"
         title="Link to Koa documentation"
         target="_blank">
         Koa</a>
      (since I had heard good things about it).
      It grew and grew and is now a mature product in its own right!
      <h4><icon name="cokoa" /> About Co.Koa:</h4>
      <ul :size="modifier">
        <li>
          Built on Koa
          (spiritual successor to
          <a href="https://expressjs.com/"
             title="Link to ExpressJS Framework website"
             target="_blank">
            ExpressJS</a>).
        </li>
        <li>
          Extensive support for custom plugins (for example: my
          <a href="https://www.npmjs.com/package/co-koa-mongoose-plugin"
             target="_blank">Mongoose models plugin</a>).
        </li>
        <li>
          Pragmatic MVC-like data-structuring (choose whether to operate as a
          a micro-service, holistic MVC or anything in-between).
        </li>
        <li>
          Can serve Views via
          <a href="https://handlebarsjs.com/"
             target="_blank">
             Handlebars</a> or operate as a Pure API.
        </li>
        <li>
          Happily integrates with VueJS single page templates for painless
          local development
        </li>
        <li>
          A <a href="https://www.npmjs.com/package/co-koa-cli">CLI</a> enabling
          you to install a new project and render various custom templates.
        </li>
        <li>
          Extensively tested using the
          <a href="https://jestjs.io/"
             title="Link to Jest Unit Test website"
             target="_blank">
             <icon name="jest" />
             Jest</a> testing framework.
        </li>
        <li>
          Is written using the
          <a href="https://www.npmjs.com/package/stampit"
             title="Link to NPM module for Stampit"
             target="_blank">
             Stampit</a> composition module (please see the
          <a href="https://github.com/stampit-org/stamp-specification"
             title="Link to Stamp Specification"
             target="_blank">
            Stamp Specification
          </a> for more information.)
        </li>
      </ul>
      <p>
        For more information please visit the
        <a href="http://cokoajs.com"
           target="_blank">Co.Koa Documentation Site</a> and the
        <a href="https://github.com/jaysaurus/Co.koa/wiki"
           target="_blank">
           Co.Koa wiki</a>.
      </p>
      <div :class="`body__section-icons body__section-icons--${modifier}`"
           section="first">
        <h4>Other Technologies Used:</h4>
        <span title="Gulp Build System">
          <icon name="brands/gulp" />
        </span>
        <span title="Koa JS Framework">
          <icon width="15px" name="koa" />
        </span>
        <span title="Mongo DB (NoSQL Database)">
          <icon height="15px" name="mongo" />
        </span>
        <span title="Node Package Manager (NPM)">
          <icon name="brands/npm" />
        </span>
        <span title="Jest (Facebook) Unit Testing">
          <icon name="jest" />
        </span>
        <span title="Travis Continuous Integration Suite">
          <icon name="travis-ci" />
        </span>
      </div>
    </div>
    <hr :size="modifier" />
    <div class="body__section">
      <h3><icon name="brands/vuejs" /> VueJS</h3>
      I have worked on
      <a href="https://vuejs.org/"
         title="Link to VueJS website">VueJS</a>
      projects both
      personally and professionally.  <br />
      <h4>Examples:</h4>
      <ul>
        <li>
          This very site is written in VueJS! It uses:
          <ul>
            <li>
              <a href="https://sass-lang.com/"
                 title="Link to the SASS website"
                 target="_blank">
                <icon name="brands/sass" /> SCSS</a>
              (Sassy CSS) pre-processing
            </li>
            <li>
              <a href="https://webpack.js.org/"
                 title="Link to the Webpack website"
                 target="_blank">
              <icon name="webpack" /> Webpack</a>
              lazy-loading of JS resources
            </li>
            <li>
              Implementation of the
              <a href="https://router.vuejs.org/"
                 title="Link to the VueJS Router page"
                 target="_blank">
                 VueJs router
               </a>.
            </li>
            <li>
              A light VueX store implementation
            </li>
            <li>
              A mixture of
              <a href="https://fontawesome.com"
                 title="Font Awesome website"
                 target="_blank">
                <icon name="brands/font-awesome" /> font-awesome goodies
              </a>
              and Custom Graphics designed by my own fair hands!
            </li>
          </ul>
          <br />
          (checkout the source for this web site on:
          <a href="https://gitlab.com/jaysaurus/jay-site"
             title="Jay's website gitlab page"
             target="_blank">
            Gitlab</a>)
        </li>
        <br />
        <li>
          I introduced VueJS as the preferred front-end for
          <a href="http://www.qualsafeawards.org/"
          title="Link to Qualsafe Awards website">Qualsafe Awards</a>'
          administration and portal pages.  Thus I also have detailed knowledge
          of some of Vue's most advanced aspects:
          <a href="https://grails.org/index.html"
             title="Link to Grails MVC page"
             target="_blank">
             <icon name="grails" />Grails</a> MVC
          so I was required to setup some fairly advanced code to get things going:
          <ul>
            <li>
              Support for serving Vue components via .GSP (Groovy Server Pages) using a
              custom G:tag
            </li>
            <li>
              Custom
              <a href="https://ant.apache.org/"
                 title="Apache Ant Website"
                 target="_blank">Apache Ant</a>
              scripting to inject Grails production .WARs with VueJS files
            </li>
            <li>
              A bespoke VueJS router that could talk to data from a custom .GSP
            </li>
            <li>
              Custom
              <a href="https://vuex.vuejs.org/"
                 title="Link to VueX info"
                 target="_blank">VueX</a>
              integration strategy, I wrote a bespoke lazy-loaded store strategy using
              <a href="https://we bpack.js.org/"
                 title="Link to the Webpack website"
                 target="_blank">
                 <icon name="webpack" /> Webpack</a>:
              <ul>
                <li>
                  Enables clients to inject vue dependencies into stores (thereby helping
                  to simplify testing)
                </li>
                <li>
                  Avoids clients having to load surplus state variables (hitherto unavoidable in VueX,
                  even with store modules)
                </li>
              </ul>
            </li>
            <li>
              <a href="https://www.npmjs.com/package/axios"
                 title="Axios NPM Package"
                 target="_blank">
                Axios
              </a>
              HTTP client setup using the vue-axios wrapper
            </li>
            <li>
              Assorted NPM, Shell scripts and Vue config tweaks to enable smooth
              communication between Grails, VueJS' compiler and Webpack's hot-loader
            </li>
            <li>
              A custom context-friendly object wrapper for
              <a href="https://vue-test-utils.vuejs.org/guides/"
                 title="Vue Test Utils site">vue-test-utils</a> to help make
              clients' testing needs simpler (to help aid adaptation, since a
              number of staff come from using ECMA5 technologies).
            </li>
          </ul>
        </li>
      </ul>
      <div class="body__section-icons">
        <h4>Other Technologies Used:</h4>
        <span title="Webpack Module bundler">
          <icon name="webpack" />
        </span>
        <span title="SASS (SCSS) CSS pre-processing">
          <icon name="brands/sass" />
        </span>
        <span title="Nightwatch end to end testing">
          <icon name="nightwatch" />
        </span>
        <span title="HTML5">
          <icon name="brands/html5" />
        </span>
        <span title="CSS3">
          <icon name="brands/css3-alt" />
        </span>
        <span title="Node Package Manager (NPM)">
          <icon name="brands/npm" />
        </span>
      </div>
    </div>
    <hr :size="modifier" />
    <div class="body__section">
      <h3><icon width="20px" name="groovy" /> + <icon width="20px" name="grails" />
        Groovy on Grails</h3>
      I have worked solidly with
      <a href="http://www.groovy-lang.org/"
         title="Link to Groovy laguage page"
         target="_blank">
         Groovy</a> and
       <a href="https://grails.org/index.html"
          title="Link to Grails MVC page"
          target="_blank">
          Grails</a> since 2016 as part of my work
      for the
      <a href="http://www.qualsafeawards.org/"
         title="Link to Qualsafe Awards website">Qualsafe Awards</a> exam board.
      <h4>Experience:</h4>
      <ul>
        <li>
          Full stack development using
          <a href="https://www.mysql.com/"
             title="Link to MySQL homepage"
             target="_blank">
             <icon name="mysql" /> MySql</a>,
          Grails &amp; Groovy Server Pages (GSP)
        </li>
        <li>
          Extensive use of
          <a href="https://jquery.com/"
             title="Link to JQuery website"
             target="_blank">
            <icon name="jquery" />JQuery/HTML front-end (including
          </a>
          the use of <a href="https://qunitjs.com/">QUnit</a> testing framework)
        </li>
        <li>
          <b>Agile/Sprint</b> methodology project development
        </li>
        <li>
          Writing Chron Jobs using Grails'
          <a href="https://plugins.grails.org/plugin/grails/quartz"
             title="Link to Quartz plugin page"
             target="_blank">Quartz plugin</a>
        </li>
        <li>
          Working with the Java/Groovy <a href="http://spockframework.org/">Spock</a>
          Unit/Integration testing framework
        </li>
        <li>
          Working with the
          <a href="http://nightwatchjs.org/"
             title="Link to Nightwatch E2E Test website"
             target="_blank">
             <icon name="nightwatch" /> Nightwatch</a>
          end-to-end testing framework
        </li>
      </ul>
      <div class="body__section-icons">
        <h4>Other Technologies Used:</h4>
        <span title="Java programming language">
          <icon name="brands/java" />
        </span>
        <span title="Java programming language">
          <icon name="mysql" />
        </span>
        <span title="Java programming language">
          <icon name="jquery" />
        </span>
        <span title="Nightwatch end to end testing">
          <icon name="nightwatch" />
        </span>
      </div>
    </div>
    <hr :size="modifier" />
    <div class="body__section body__section-body--final">
      <h3><icon width="20px" name="brands/microsoft" />
          <icon width="20px" name="oracle" />
          <icon width="20px" name="brands/php" />
        Other Technologies</h3>
      I come from a varied technical background that has seen me working professionally
      with:
      <ul>
        <li>
          All aspects of
          <a href="https://dynamics.microsoft.com/en-us/crm/what-is-crm/"
             title="Link to CRM Dynamics homepage"
             target="_blank">Microsoft's Dynamics CRM</a>,
          including:
          <ul>
            <li>
              Writing <a href="https://crmbook.powerobjects.com/extending-crm/plug-in-development-and-workflow-extensions/plug-ins/"
                         title="Link to CRM info on Plugins"
                         target="_blank">plugins</a>
              &amp; <a href="https://crmbook.powerobjects.com/system-administration/processes/workflows/"
                       title="Link to CRM info on Workflows">workflows</a> and Windows services in C#
            </li>
            <li>
              Writing
              <a href="https://docs.microsoft.com/en-us/sql/reporting-services/create-deploy-and-manage-mobile-and-paginated-reports?view=sql-server-2017"
                 title="Link to SQL Server Reporting Service information"
                 target="_blank">
                SSRS
              </a> reports using Visual Basic
            </li>
            <li>
              Customizing the product with
              <a href="https://msdn.microsoft.com/en-us/library/mt593051.aspx"
                 title="Link to CRM Web API information"
                 target="_blank">
                 WebAPI
              </a> driven components
            </li>
            <li>
              writing middleware to communicate with separate APIs that communicated
              with Oracle databases
            </li>
          </ul>
        </li>
        <br />
        <li>
          In a personal capacity I have also:
          <ul>
            <li>
              Studied PHP extensively at university
            </li>
            <li>
              Studied C in my spare time to better understand memory management
            </li>
            <li>
              Studied ASM for a legacy 16-bit console, just for kicks!
            </li>
          </ul>
        </li>
      </ul>
      While I'm no longer current with Microsoft technologies, hopefully the
      above goes some way toward proving that my skill set is varied and that I
      have the desire to learn just about anything!<br />
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex'

import 'vue-awesome/icons/brands/css3-alt'
import 'vue-awesome/icons/brands/font-awesome'
import 'vue-awesome/icons/brands/gulp'
import 'vue-awesome/icons/brands/html5'
import 'vue-awesome/icons/brands/java'
import 'vue-awesome/icons/brands/microsoft'
import 'vue-awesome/icons/brands/node-js'
import 'vue-awesome/icons/brands/npm'
import 'vue-awesome/icons/brands/php'
import 'vue-awesome/icons/brands/sass'
import 'vue-awesome/icons/brands/vuejs'
import Icon from 'vue-awesome/components/Icon'

export default {
  name: 'skills',
  components: {
    Icon
  },
  computed: {
    ...mapState(['modifier'])
  },
  data () {
    return {
    }
  },
  created () {
    this.$emit('on-route', 'Skills')
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/styles/body.scss';
@import '../../assets/styles/body__sections.scss';
span[title~="Koa"] svg {
  position: relative;
  height: 35px;
  margin-bottom: -9px
}
</style>
