<template>
  <div :class="`body__wrapper body__wrapper--${modifier}`">
    <span :class="`body__heading--${modifier}`">
      <template v-if="modifier !== 'small'">
        Post-Graduate Diploma<br />
        MA Cultural Studies<br />
        BA (hons) Cultural Studies<br />
      </template>
      <span name="small" v-else>
        Post-Graduate Diploma<br />
        BA &amp; MA Cultural Studies<br />
      </span>
    </span>
    <hr :size="modifier" />
    <div :size="modifier" class="body__section body__section--first">
      <div class="body__section-header">
        <h3>Electronic &amp; Digital Library Management: <b>Merit</b></h3>
        <h4 class="body__date body__date--first"
            :size="modifier">
          2012
        </h4>
      </div>
      <b>University of Sheffield</b>
      <div class="body__section-body"
           section="first">
        Though most of my development skills are self-taught, this course played
        a major role in getting me started.  this was a A Digital Librarianship
        postgraduate-diploma with heavy emphasis on IT.  It was based on an MSc,
        but I loved the code so much I decided to skip the dissertation and start
        a web business (see Work page)!

        <h4>Details:</h4>
        <ul>
          <li>
            Content Management Systems using PHP
          </li>
          <li>
            Database Design using Oracle
          </li>
          <li>
            Designing Usable Websites using HTML5 CSS3
          </li>
          <li>
            Information Retrieval: Search Engines and Digital Libraries
          </li>
        </ul>
      </div>
    </div>
    <hr :size="modifier" />
    <div class="body__section">
      <div class="body__section-header">
        <h3>MA Cultural Studies: <b>Merit</b><br />
          BA (hons) Cultural Studies: <b>2:1</b></h3>
        <h4 class="body__date"
            :size="modifier">
          MA 2011 <br /> BA 2009
        </h4>
      </div>
      <b>University of Leeds</b>
      <div class="body__section-body">
        An interdisciplinary course examining critical theory, post-colonial
        theory, feminism, philosophy and literary theory.
      </div>
    </div>
    <hr :size="modifier" />
    <div class="body__section body__section-body--final">
      <div class="body__section-header">
        <h3>3 A Levels, 1As Level &amp; 10 GCSE's</h3>
        <h4 class="body__date"
            :size="modifier">
          ~2001
        </h4>
      </div>
      <b>Hayes Secondary School</b>
      <div class="body__section-body">
        Including English A Level, Maths &amp; IT GCSEs
      </div>
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex'

import 'vue-awesome/icons/brands/css3-alt'
import 'vue-awesome/icons/brands/font-awesome'
import 'vue-awesome/icons/brands/gulp'
import 'vue-awesome/icons/brands/html5'
import 'vue-awesome/icons/brands/java'
import 'vue-awesome/icons/brands/microsoft'
import 'vue-awesome/icons/brands/node-js'
import 'vue-awesome/icons/brands/npm'
import 'vue-awesome/icons/brands/php'
import 'vue-awesome/icons/brands/sass'
import 'vue-awesome/icons/brands/vuejs'
import Icon from 'vue-awesome/components/Icon'

export default {
  name: 'Smarts',
  components: {
    Icon
  },
  computed: {
    ...mapState(['modifier'])
  },
  created () {
    this.$emit('on-route', 'Smarts')
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/styles/body.scss';
@import '../../assets/styles/body__sections.scss';
</style>
