<template>
  <div :class="`body__wrapper body__wrapper--${modifier}`">
    <span :class="`body__heading--${modifier}`">
      <template v-if="modifier !== 'small'">
        The digital nomad life,<br />
        My availability diary<br />
        and what I'm up to!<br />
      </template>
      <span name="small" v-else>
        The digital nomad life<br />
        and my Availability
      </span>
    </span>
    <hr :size="modifier" />
    <div :size="modifier" class="body__section body__section--first">
      <div class="body__section-header">
        <h3>Being a Digital Nomad</h3>
      </div>
      <div class="body__section-body"
           section="first">
        <p>
          I am a digital nomad, that means my lifestyle is perapetetic!
        </p>
        <p>
          Subject to location and Internet connection, I am available to hire
        </p>
        <p>
          See the calendar below for more information or
          <a href="#"
             @click="showHideModal(true)"
             title="click for contact form">
             contact me
          </a>
        </p>
      </div>
    </div>
    <hr :size="modifier" />
    <div :size="modifier" class="body__section">
      <div class="body__section-header">
        <h3>Availability</h3>
      </div>
      <full-calendar v-if="!!calendar"
                     :events="calendar"
                     @eventClick="eventClicked($event)"
                     @dayClick="dayClicked($event)"
                     locale="en" />
      <h4 v-else>
        Uh oh!!<br />
        <img class="uhoh"
             src="../../assets/images/uhoh.svg.png" />
        <br />
        Calendar temporarily unavailable, please check back later.
      </h4>
    </div>
    <hr :size="modifier" />
    <div class="body__section body__section-body--final">
      <div class="body__section-header">
        <h3>The Story So Far...</h3>
      </div>
      <div class="body__section-body">
        This section will contain links to blogs etc. Keep your eyes peeled for more information!
      </div>
    </div>
  </div>
</template>

<script>
import {mapMutations, mapState} from 'vuex'
import FullCalendar from './calendar/fullCalendar'

export default {
  name: 'where',
  data () {
    return {
      booking: {}
    }
  },
  components: {
    FullCalendar,
    Event
  },
  computed: {
    ...mapState(['modifier', 'calendar'])
  },
  methods: {
    ...mapMutations({
      setEventBooking: 'SET_EVENT_BOOKING',
      setSubjectDate: 'SET_SUBJECT_DATE',
      showHideModal: 'SHOW_HIDE_MODAL',
      showHideEvent: 'SHOW_HIDE_EVENT'
    }),
    dayClicked (e) {
      this.setSubjectDate(e)
      this.showHideModal(true)
    },
    eventClicked (e) {
      this.setEventBooking(e)
      this.showHideEvent(true)
    }
  },
  created () {
    this.$emit('on-route', 'Where')
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '../../assets/styles/body.scss';
@import '../../assets/styles/body__sections.scss';
.uhoh {
  width: 50%;
  margin-left: 22%;
}
</style>
