<template>
  <div :class="`body__wrapper body__wrapper--${modifier}`">
    <span :class="`body__heading--${modifier}`">
      <template v-if="modifier === 'large'">
        More than 5 years in the industry<br />
        Diverse professional experience<br />
        Experience in agile &amp; sprint<br />
      </template>
      <template v-else-if="modifier === 'medium'">
        Over 5 years in industry<br />
        Diverse experience<br />
        agile and sprint<br />
      </template>
      <span name="small" v-else>
        5+ years in industry<br />
        Agile &amp; sprint
      </span>
    </span>
    <hr :size="modifier" />
    <div :size="modifier" class="body__section body__section--first">
      <div class="body__section-header">
        <h3 id="qa">Qualsafe Awards
          <qualsafe-icons
            :size="modifier"
            v-if="modifier !== 'small'"/>
        </h3>
        <h4 class="body__date body__date--first"
            :size="modifier">
          2016-2018
        </h4>
      </div>
      At Qualsafe I was responsible for developing and maintaining the company's
      portal and administration pages written in Groovy on Grails (MVC)
    </div>
    <div class="body__section-body"
         section="first">
      <h4>Responsibilities</h4>
      <ul>
        <li>
          Developing new Grails services, controllers and models
        </li>
        <li>
          Writing HTML/GSP/JQuery front-end views
        </li>
        <li>
          Writing MySQL reports for stakeholders
        </li>
        <li>
          Implementing a bespoke VueJS implementation as a replacement
          development front end (using nodeJS/NPM scripts)
        </li>
        <li>
          Unit/Integration Testing with Spock, Qunit (for JQuery), Spock and
          end-to-end testing with Nightwatch
        </li>
        <li>
          Working according to principals of agile and sprint methodology.
        </li>
        <li>
          Writing documentation for team developers and stakeholders
        </li>
        <li>
          Liaising and working with stakeholders and their specifications
        </li>
      </ul>
    </div>

    <hr :size="modifier" />
    <div :size="modifier" class="body__section body__section">
      <div class="body__section-header">
        <h3>Tenet Group
          <tenet-icons
            :size="modifier"
            v-if="modifier !== 'small'"/>
        </h3>
        <h4 class="body__date"
            :size="modifier">
          2015-2016
        </h4>
      </div>
      At Tenet I was the resident expert in CRM Dynamics 2015/16
    </div>
    <div class="body__section-body">
      <h4>Responsibilities</h4>
      <ul>
        <li>
          Writing C# plugins and workflows for Dynamics CRM
        </li>
        <li>
          writing JavaScript and JS WebAPI queries for talking to CRM
        </li>
        <li>
          Writing SSRI business reports using Visual Basic
        </li>
        <li>
          Working according to principals of waterfall methodology.
        </li>
        <li>
          Writing documentation for team developers and stakeholders
        </li>
        <li>
          Liaising and working with stakeholders and Business Analysts
        </li>
      </ul>
    </div>

    <hr :size="modifier" />
    <div :size="modifier" class="body__section body__section">
      <div class="body__section-header">
        <h3 id="hbs">Harrogate Borough Council
          <harrogate-icons
            :size="modifier"
            v-if="modifier !== 'small'"/>
        </h3>
        <h4 class="body__date"
            :size="modifier">
          2013-2015
        </h4>
      </div>
      At Harrogate Borough Council, I cut my teeth with CRM Dynamics and many
      other web technologies.
    </div>
    <div class="body__section-body">
      <h4>Responsibilities</h4>
      <ul>
        <li>
          Lead developer on CRM Dynamics
        </li>
        <li>
          Extensive JavaScript development for CRM
        </li>
        <li>
          Authored a number of custom C# plugins and workflows
        </li>
        <li>
          Authored a number of C# windows service jobs
        </li>
        <li>
          Wrote a number of WCF endpoints that integrated with Oracle DB and
          MS SQL Server backends
        </li>
        <li>
          Writing documentation for team developers and stakeholders
        </li>
        <li>
          Liaising and working with stakeholders and Business Analysts
        </li>
      </ul>
    </div>
    <hr :size="modifier" />
    <div :size="modifier" class="body__section body__section">
      <div class="body__section-header">
        <h3>Director, Angry Octopus
          <angry-octopus-icons
            :size="modifier"
            v-if="modifier !== 'small'"/>
        </h3>
        <h4 class="body__date"
            :size="modifier">
          2012-2013
        </h4>
      </div>
      This was mostly a graphic design micros business; however I also offered
      websites and spent much of my time learning PHP, MySQL and JavaScript.
    </div>
    <div class="body__section-body body__section-body--final">
      <h4>Activities</h4>
      <ul>
        <li>
          Taught myself Javascript, OOP PHP and MVC.
        </li>
        <li>
          Worked on a number of graphic projects with clients
        </li>
        <li>
          Authored a site for a friend.
        </li>
      </ul>
    </div>
</div>
</template>

<script>
import {mapState} from 'vuex'

import AngryOctopusIcons from './subComponents/AngryOctopusIcons'
import HarrogateIcons from './subComponents/HarrogateIcons'
import QualsafeIcons from './subComponents/QualsafeIcons'
import TenetIcons from './subComponents/TenetIcons'

export default {
  name: 'skills',
  components: {
    AngryOctopusIcons,
    HarrogateIcons,
    QualsafeIcons,
    TenetIcons
  },
  computed: {
    ...mapState(['modifier'])
  },
  created () {
    this.$emit('on-route', 'Work')
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/styles/body.scss';
@import '../../assets/styles/body__sections.scss';
.body__section-header h4 {
  font-weight: bold;
}
.body__section-header div[size="large"] {
  display: inline
}

.body__date {
  width: 20%;
  text-align: right
}

@each $modifier, $right in ("large", -5%), ("medium", -3.5%), ("small", -8%) {
  h4.body__date--first[size=#{$modifier}] {
    position: absolute;
    right: $right;
    @if ($modifier != "small") {width: 100% !important;}
    @else { width: 350px; }
  }
}
.body__wrapper
div:nth-child(n+4)
div.body__section-header
h4.body__date[size="small"] {
  width: 350px;
  position: absolute;
  right: 0;
}

.body__section-body {
  width: 100%;
  float: left;
}
.body__section-body h4 {
  font-weight: 350;
}
</style>
