<template>
  <div id="app"
       :class="`${d_isLoading ? 'app--updating' : ''}`"
       @keyup.esc="hideOverlays">
    <media
      :query="{maxWidth: 450}"
      @media-enter="setModifier('small')" />
    <media
      :query="{minWidth: 451, maxWidth: 800}"
      @media-enter="setModifier('medium')" />
    <media
      :query="{minWidth: 801}"
      @media-enter="setModifier('large')" />
    <web-header />
    <web-body />
  </div>
</template>

<script>
import {mapActions, mapMutations, mapState} from 'vuex'
import Media from 'vue-media'

import WebHeader from './components/WebHeader'
import WebBody from './components/WebBody'

export default {
  name: 'App',
  data () {
    return {
      d_isLoading: false,
      modifier: 'large'
    }
  },
  components: {
    Media,
    WebBody,
    WebHeader
  },
  watch: {
    isLoading (val) {
      if (val) {
        this.d_isLoading = true
        setTimeout(function () {
          this.d_isLoading = false
        }.bind(this), 2000)
      }
    }
  },
  computed: {
    ...mapState(['isLoading'])
  },
  methods: {
    ...mapActions(['setCalendar']),
    ...mapMutations({
      setModifier: 'SET_MODIFIER',
      showHideEvent: 'SHOW_HIDE_EVENT',
      showHideModal: 'SHOW_HIDE_MODAL'
    }),
    hideOverlays () {
      this.showHideModal(false)
    }
  },
  created () {
    this.setCalendar()
  }
}
</script>

<style>
.app--updating {
  /* resolves animation glitch with scroll bar */
  margin-bottom: 5000px !important;
}
h1, h2, h3, h4 {
  font-family: 'Helvetica Neue','Source Sans Pro',sans-serif;
  font-weight: 300;
}
#app {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.5;
  font-size: 80%;
  color: #333;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  min-width: 300px;
  transition: height 0.5s;
}
.grid {
  display: grid;
  /* align-content: stretch; */
  width: 100%;
  height: 100%;
  grid: [row1-start] ". header ." auto [row1-end]
  [row3-start] "left middle right" auto [row2-end]
  [row3-start] "footer footer footer" 2% [row2-end]
  / 10% auto 10%;
}
.body {
  grid-area: middle;
}
.footer {
  grid-area: footer;
}
</style>
