.body__wrapper {
  font-size: 110%
}
.body__wrapper--small {
  font-size: 80%;
}
.body__wrapper hr {
  float:left;
  border: none;
  margin-top: 4.5%;
  margin-bottom: -1%;
  height: 1px;
  background-color: #ccc;
}
.body__wrapper hr {
  width: 94%;
  margin-left: 0;
}

.body__wrapper hr[size="medium"] {
  width: 96.5%;
}

.body__wrapper hr[size="small"] {
  width: 87%;
  margin-left: 5px;
}

.body__wrapper > hr:nth-child(2) {
  width: 79%;
}
.body__wrapper hr[size="small"]:nth-child(2) {
  margin-left: 20%;
  width: 60% !important;
}

.body__wrapper div[size="medium"] {
  font-size: 85%;
}

.body__section[size="small"] {
  margin-left: 5px;
}
.body__section[size="small"] h3:nth-child(1) {
  margin-top: 10%;
}

a {
  text-decoration: none;
  font-weight: bold
}
a:hover {
  color: red;
}
.body__image {
  display:inline;
  width: 30%;
  text-align: right;
}
