.body__section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.body__section[size="small"] .body__section-header h3 {
  // margin-top: 13px;
}
// .body__section--first[size="small"] .body__section-header {
//   margin-top: 45px;
// }
.body__section-icons {
  float: right;
  font-size: 80%;
}

@each $modifier, $right in
(large, -8%),
(medium, -4%),
(small, -25%) {
  .body__section-icons--#{$modifier}[section="first"] {
    position:relative;
    width: 100%;
    right: $right;
    text-align: right;
  }
}

.body__section-icons h4 {
  position:relative;
  display: inline;
  font-weight: bold;
}

.body__section-icons span {
  margin-top: 1%;
}

.body__section-icons span img {
  position: relative;
  margin-bottom: 3px;
}
.body__wrapper > div.body__section:nth-child(3) {
  width: 80%;
}

.body__section-body--final {
  margin-bottom: 50px;
}
