.body__wrapper {
  width: 100%;
}
.body__graph {
  position: absolute;
  display: grid;
  width: 100%;
}
.body__section {
  float: left;
  position: relative;
  width: 100%;
}

$body-row: [row1-start] " . margin body . " auto [row1-end];
.body__graph--large {
  grid: $body-row / 10% 18% 60% auto;
  grid-auto-flow: row;
}
.body__graph--medium {
  grid: $body-row / 1% 25% 73% 1%;
}
.body__graph--small {
  grid: $body-row / 0.5% 25% 73% 5%;
}

.body__menu__wrapper {
  grid-area: margin;
}
.body__menu {
  display:flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
}
.body__content {
  grid-area: body;
  width: 100%;
}
.body__content--large {
  margin-left: 3%;
}
.body__content--small {
  top: -6%;
}
