@import './header.scss';

.header__grid--small {
  @include header-grid__setHeight(90%);
  grid: [row1-start] " . letters " 100% [row1-end] / 1% auto;
  top: -30.5%;
}
.header__letters--small {
  @extend %header-letters;
}
.header__letters--small--safari {
  margin-top: -5%;
}

.header__fname--small {
  @extend %header-names;
  width: 30%;
  margin-right: -2%;
}
.header__lname--small {
  @extend %header-names;
  width: 59%;
  margin-left: 2%;
}

@each $letter, $height, $width, $zindex, $marginLeft in
(fname-j, 150%, 34%, 20),
(fname-a, 139%, 29%, 10),
(fname-y, 145%, 29%, null, -3%),
(lname-e, 152%, 19%),
(lname-d1, 140%, 12.5%),
(lname-w, 140%, 16%),
(lname-a, 139%, 15.5%),
(lname-r, 140%, 13%),
(lname-d2, 141%, 12.5%, 10),
(lname-s, 139%, 15.5%, null, -1%) {
  .header__#{$letter}[size="small"] {
    height: $height;
    width: $width;
    @if $zindex { z-index: $zindex; }
    @if $marginLeft { margin-left: $marginLeft; }
  }
}
