@import './header.scss';

.header__grid--large {
  @include header-grid__setHeight(100%);
  margin-top: -25%;
  grid: [row1-start] ". letters . headerbox ." 100% [row1-end] / 13% auto 2% 17% 15%;
}
.header__letters--large {
  @extend %header-letters;
  justify-content: center;
  align-content: center;
}
.header__letters--large--safari {
  margin-top: -15%;
}

.header__fname--large {
  @extend %header-names;
  width: 30%;
}
.header__lname--large {
  @extend %header-names;
  width: 70%;
  padding-left: 2%;
}

@each $letter, $height, $width, $zindex, $marginLeft in
(fname-j, 150%, 37%, 20),
(fname-a, 135%, 32%, 10),
(fname-y, 150%, 37%, null, -5%),
(lname-e, 149%, 15.5%),
(lname-d1, 143%, 10%),
(lname-w, 145%, 13%),
(lname-a, 149%, 12.5%),
(lname-r, 149%, 10.3%),
(lname-d2, 150%, 9.5%, 10),
(lname-s, 151%, 12%, null, -2%) {
  .header__#{$letter}[size="large"] {
    height: $height;
    width: $width;
    @if $zindex { z-index: $zindex; }
    @if $marginLeft { margin-left: $marginLeft; }
  }
}
