@import './header.scss';

.header__grid--medium {
  @include header-grid__setHeight(100%);
  margin-top: -33%;
  grid: [row1-start] " . letters headerbox " 100% [row1-end] / 3% auto 28% ;
}
.header__letters--medium {
  @extend %header-letters;
}
.header__letters--medium--safari {
  margin-top: -5%;
}

.header__fname--medium {
  @extend %header-names;
  width: 30%;
  margin-right: -2%;
}
.header__lname--medium {
  @extend %header-names;
  width: 59%;
  margin-left: 2%;
}

@each $letter, $height, $width, $zindex, $marginLeft in
(fname-j, 120%, 34%, 20),
(fname-a, 109%, 29%, 10),
(fname-y, 110%, 29%, null, -3%),
(lname-e, 122%, 19%),
(lname-d1, 110%, 12.5%),
(lname-w, 110%, 16%),
(lname-a, 109%, 15.5%),
(lname-r, 110%, 13%),
(lname-d2, 111%, 12.5%, 10),
(lname-s, 109%, 15.5%, null, -1%) {
  .header__#{$letter}[size="medium"] {
    height: $height;
    width: $width;
    @if $zindex { z-index: $zindex; }
    @if $marginLeft { margin-left: $marginLeft; }
  }
}
