%header-letters {
  grid-area: letters;
  display: flex;
}

%header-names {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin header-grid__setHeight($height) {
  position: absolute;
  display: grid;
  width:100%;
  height: $height;
}
