.header {
  display: flex;
  margin-top: -5%;
  z-index: -10;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.header__wrapper {
  align-self: flex-start;
  position: relative;
  width: 100%;
}

.header--small {
  margin-top: -10%
}

.header__pad--large {
  margin-top: 6%;
}
@each $modifier, $width, $marginTop, $background, $padding in
('large', 78%),
('medium', 100%, 5%),
('small', 100%, 3%, #a2ecc0, 20%) {
  .header__pad--#{$modifier} {
    align-self: flex-start;
  }
  .header__back--#{$modifier} {
    position: relative;
    width: $width;
    margin-top: $marginTop;
    @if $background  { background-color: $background; }
    @if $padding { padding-bottom: $padding; }
  }
}
