@each $letter, $duration, $bezier, $start, $mid, $end in
(fname-j,  2.5s, cubic-bezier(.58,.09,.58,.94), 5%, 0%, 5%),
(fname-a,  3.2s, cubic-bezier(.64,.9,.56,.94),  5%, 0%, 5%),
(fname-y,  3.5s, cubic-bezier(.74,.1,.45,.94),  4%, -3%, 4%),
(lname-e,  3s,   cubic-bezier(.6,.1,.4,1.0),    2%, 0%, 2%),
(lname-d1, 3s,   cubic-bezier(.5,.2,.3,1.0),    -2%, 3%, -2%),
(lname-w,  2.8s, cubic-bezier(.58,.2,.3,1.0),   -1.8%, 2%, -1.8%),
(lname-a,  3.3s, cubic-bezier(.6,.25,.35,1.0),  -1.5%, 1.2%, -1.5%),
(lname-r,  2.8s, cubic-bezier(.6,.1,.4,1.0),    -3%, 1.5%, -3%),
(lname-d2, 3s,   cubic-bezier(.5,.2,.3,1.0),     1.1%, -3%, 1.1%),
(lname-s,  3.3s, cubic-bezier(.46,.1,.35,.94),   2%, -1.8%, 2%) {
  .header__#{$letter} {
    position:relative;
    animation: #{$letter}--move $duration infinite;
    animation-timing-function: $bezier;
  }
  @keyframes #{$letter}--move {
    0% {margin-top: $start;}
    50% {margin-top: $mid;}
    100% {margin-top: $end;}
  }
}
