@mixin block-relative__setWidth($width) {
  position: relative;
  top: 0;
  display: block;
  width: $width;
}
@mixin block-relative__setHeight($height) {
  position: relative;
  top: 0;
  display: block;
  width: $height;
}

.body__menu {
  grid-area: margin;
  display: flex;
  width: 100%;
}
.body__menu img {
  @include block-relative__setWidth(100%);
}
.body__menu--small {
  flex-direction: row;
}

.body__menu-link {
  @include block-relative__setWidth(50%);
  transition: transform 0.5s linear 0s;
  transition: width 0.5s linear 0s;
}

.body__menu-link--active {
  @include block-relative__setWidth(100%);
  transition: transform 0.5s linear 0s;
  transition: width 0.5s linear 0s;
}

.body__menu-link img {
  @include block-relative__setHeight(100%);
  z-index: 20;
}
.body__menu-link--active img {
  @include block-relative__setHeight(100%);
  z-index: 10;
}

.body__menu-link--small {
  position: relative;
  width: 25%;
}

.body__menu-title, .body__menu-title--active {
  position: absolute;
  height: 48%;
  width: 100%;
  padding-top: 40%;
  padding-bottom: 15%;
  font-weight: bold;
  top: 0;
  left: 0;
  z-index: 30;
  font-size: 125%;
  text-align: center;
  color: #2c3e50;
  background-color:rgba(255, 255, 255, 0.7);
  opacity: 0;
  transition: opacity 0.4s;
}
.body__menu-title--medium {
  font-size: 90%;
}
.body__menu-title--small {
  font-size: 70%;
}
.body__menu-title--active, .body__menu-title:hover {
  opacity: 1 !important;
  transition: opacity 0.4s;
}
